[2016-08-23 02:41] moaazsidat opened #1 "Figure out why Vibration.vibrate() doesn't work in some instances for iOS"
The QR code scanner component has it so that a vibrate event is sent upon successfully reading a code. However, calling `Vibration.vibrate()` doesn't seem to work. Will have to investigate further.

[2016-11-11 14:02] pvpshoot opened #3 "Any progress on android?"
Hi! Thank you for this package.
Just use it for app, and don't want to use another package only for android.
Any progress on android?

[2016-11-21 17:09] moaazsidat commented on #3
Hey @pvpshoot, thanks for using this package!
I haven't had time to look into Android support yet. Might look into it over the next two weeks. Feel free to submit a PR if you've worked on adding Android support to the package.

[2017-01-15 17:31] justinireland commented on #3
The camera module supports Android so what is it about this package that isn't cross platform?

[2017-01-17 18:27] moaazsidat commented on #3
I think it might be mostly styling, and ensuring that works across different screen sizes. I don't have an Android device on me to test and verify that the package works as expected.

[2017-02-07 18:14] Beomi opened #4 "Example on Usage should be updated."
I've got
[code]
Error on launching this,
but I've fixed this issue with this code.

[code]

However, there was Security Crash issue with iOS10, which enforces to add Message to info.plist(can  be found at Xcode's `project-info-Privacy - Camera Usage Description`.
I have to add String words and then passed iOS's security crack.

Error message was:
[code]

I hope someone can get solution on this.
He

[2017-02-20 06:31] moaazsidat commented on #4
@Beomi Thanks for filing this, can confirm that this is an issue, I'll investigate more this week, and see if we can add a fix for this. Feel free to send a PR with the updates to the relevant README changes if you have a bit.

[2017-03-07 21:34] moaazsidat commented on #4
Looked into this further, and updated the README with relevant changes. Published in version [0.0.7](https://www.npmjs.com/package/react-native-qrcode-scanner)

[2017-03-07 21:34] #4 closed

[2017-03-09 09:39] alexbowers commented on #3
Is there anything i can do to assist in getting this to android?

[2017-03-09 18:33] moaazsidat commented on #3
@alexbowers A couple of things we could do to start off:
- Test this library in a simulated Android environment (Android studio)
- Test this library with a couple of Android devices
- Make a set of tasks to fix what's broken
- Update with Android examples (or one that at platform agnostic)

Thanks!

[2017-03-09 22:11] alexbowers commented on #3
#7

[2017-03-11 00:16] #3 closed

[2017-04-01 14:59] mamodom opened #8 "Disable vibration when scanner is not active"
When `reactivate` is set to false, after the first scan, each time a qr code is  scanned, the phone vibrates, and the user might think they're actually scanning something.

[2017-04-01 16:08] moaazsidat commented on #8
Just so that I'm understanding this correctly, you want the vibration to just be for the first scan, and not subsequent scans? If so, what's the reasoning behind that?

[2017-04-01 21:32] mamodom commented on #8
Actually, what I think should happen is that if `reactivate` is false (which is the default value), when you scan a qr code and you happen to not re-render the `QRCodeScanner` component (let's say you show an alert message telling the user that the QR code he scanned didn't meet some expectations), unless the component is re-rendered or reactivated, if the camera stumbles upon a QR code, it should

[2017-04-01 22:10] mamodom commented on #8
Another thing which is slightly unrelated to this issue is that I didn't really understand how I could reactivate the `QRCodeScanner` without re-rendering it.

Let's take this scenario:
- I open the app which tells me to scan a specific Qr code (the back of a book or something) to do a specific action with it.
- I derp out and scan some other Qr code.
- I see an alert telling me that I didn't scan

[2017-04-02 19:52] moaazsidat commented on #8
Thanks for the elaboration, let me think about it, and play with it a bit later today and get back to you, thanks @mamodom!

[2017-04-11 06:28] bawn opened #10 "fullscreen support?"
How can I show camera view on fullscreen?

below code not work

[code]

[2017-04-14 04:46] uc-asa opened #11 "Not supported on iOS 8 and android 5.1"
I want to use in android 5.1 and also iOS 8 version, any suggestion.

[2017-04-27 23:24] jamietj opened #12 "Crash when navigating back to scanner"
In my app the user scans a qr code, the returned data is then passed to another scene using a Navigator, when they navigate back to scan another code the app crashes.

I have other scenes in the app that can be navigated back and forth to but when returning to the scene with the scanner in it always crashes (without stack trace or errors)

It might be something like the scanner is still running in

[2017-04-28 19:56] pedramsaleh opened #13 "Screenshot link broken"
The link to the screenshot in the readme is broken. Could you please fix it so we can see what this will look like when implemented? Thanks.

[2017-05-01 14:46] moaazsidat commented on #12
Hey @jamietj would you be able to point towards an example code that's causing this behaviour, would make it easier to debug, thanks a ton!

[2017-05-01 14:48] moaazsidat commented on #11
Hey @uc-asa, what's the error you're getting on each platform?

[2017-05-01 14:51] moaazsidat commented on #10
@bawn sorry for the delay on this, was travelling, going to look into this this week.

[2017-05-02 20:07] moaazsidat commented on #10
So a bit more context on this, currently the way the lib is set up, it renders a `<View>` and then passes the `topContent` prop as the child to render. There's two approaches to add this feature. One would be to have people be able to pass a container for the top and bottom like you demonstrate above. This would be a breaking change to the API. Another is to have styling props for the top, bottom

[2017-05-03 01:37] moaazsidat commented on #10
FIxed in https://github.com/moaazsidat/react-native-qrcode-scanner/pull/14

[2017-05-03 11:44] bawn commented on #10
@moaazsidat Thanks, That's reasonable.

[2017-05-03 11:44] #10 closed

[2017-05-03 14:28] moaazsidat commented on #10
Merged and shipped in 0.0.9 😄

[2017-05-04 04:56] #13 closed

[2017-05-12 15:06] PlantBuilder commented on #12
I have run into this with navigation and this package (and a friend has run into it with navigation and maps). The stackNavigator.navigate doesn't play nice. Friend said he was able to keep things working with navigate.back(null) keeping ghe stack short...
I moved away from stackNavigator to TabNavigator and used navigate.back(null) and all works well.

[2017-05-17 15:51] gititon opened #15 "How to reactivate QRCodeScanner after navigating back to screen/component containing it?"
Hi,

Thank you for making this available to the community! I'm using the [React Navigation](https://reactnavigation.org/)  library to navigate to another screen upon a successful QR code scan.

I have reactivate set to false (the default) so that the app isn't constantly vibrating/trying to scan another QR code while I'm on another "screen" of the app. However, when I navigate back to my screen/co

[2017-05-18 10:22] j-nolan opened #16 "Unnecessary marginTop"
Hello,

Thank you for this project which is working perfectly.

I want to discuss about the hardcoded top margin [line 138 in index.js](https://github.com/moaazsidat/react-native-qrcode-scanner/blob/585af18daae186820d22eafe2bdc3f2d624644f8/index.js#L138):
[code]

This prevents me from making the camera fill the screen vertically, see this Android screenshot:

[code]
![image](https://cloud.githubus

[2017-05-19 19:11] moaazsidat commented on #16
Yep, that makes sense, I believe this was left in at the time since I only had an iOS device that I was testing with, thanks for pointing this out. Let me know if I can be of help with the PR, thanks!

[2017-05-19 19:40] j-nolan commented on #16
Awesome, I'll try to do this tomorrow. By the way I think there are some
unused imports I could clean up. Should I make two different PRs or a
single one is fine?

Le ven. 19 mai 2017 à 21:12, Moaaz Sidat <notifications@github.com> a
écrit :

[2017-06-04 10:50] TechSnake opened #20 "Hello"
Thanks for this useful plugin !

It is very easy to use but i just wonder why it vibrates so frequently even if when reactivateTimeout={2000}  or reactive={false}

cant it vibrate once not everytime when it see qcode

Thanks in Advnace

[2017-06-04 21:55] moaazsidat commented on #16
Resolved in v0.0.10, thanks for the fix @j-nolan!
https://www.npmjs.com/package/react-native-qrcode-scanner

[2017-06-04 21:55] #16 closed

[2017-06-04 21:56] moaazsidat commented on #11
I'm going to close this issue, please reopen with more details if you need further help, thanks!

[2017-06-04 21:56] #11 closed

[2017-06-07 17:51] pckz commented on #8
I've been using router flux in my app, and when the QR Scanner code is actived, and you pushed a new Scene `Action.sceneName({qr: e.data})` the camera is still working in background, and when a QR is recognized still vibrating, but the actions when a QR code is detected not working (is fine that not work, but is not fine that keep working on background)
So I solved pushing the new scene with type:

[2017-06-08 11:13] skycsky commented on #8
agree with mamodom.
  _handleBarCodeRead(e) {

    if (!this.state.scanning) {
      Vibration.vibrate();
      this._setScanning(true);
      this.props.onRead(e)
      if (this.props.reactivate) {
        setTimeout(() => (this._setScanning(false)), this.props.reactivateTimeout);
      }
    }
    return;
  }

move       Vibration.vibrate();
into if condition will be good.

[2017-06-09 18:46] moaazsidat commented on #15
Hey @gititon, thanks for the question. I think this is a pretty common question with regards to the usage of the library, however, I'm currently thinking about it in terms of what would be the most reasonable way to implement this within the library. Going to spend some time over the weekend trying to sort this out, thanks for your patience!

[2017-06-12 16:22] #8 closed

[2017-06-13 03:00] moaazsidat commented on #8
Released in v0.0.12

[2017-06-13 23:32] KarishmaBothara opened #21 "Not able to scan QRcode on android"
I am learning to use React Native. I made all the setting changes as mentioned in the article and used the sample example in my index.android.js. However when I run the project I don't see anything on the emulator. Am I doing something wrong?

[2017-06-14 14:13] moaazsidat commented on #21
@KarishmaBothara couple of questions:
- Are you using Android studio to emulate the app?
- What version of Android are you emulating?
- Do you see any errors on the screen?
- Do you see any errors in the console?

[2017-06-14 18:41] KarishmaBothara commented on #21
Yes, I am using Android studio 2.3.2 to emulate the app on device Nexus 5X API 24. However, I don't see any error on screen or console.

[2017-06-14 19:10] KarishmaBothara commented on #21
Yes, I have changed NavigatorIOS. With that I see a camera with checkered background. Not able to test it.

[2017-06-14 20:19] moaazsidat commented on #21
@KarishmaBothara so you are seeing the UI and the camera window render properly?

You won't be able to test it unless you're running the app on a device. Not sure if Android Studio offers a way to build and run the app on your phone, but that's what you'd want to do to use the camera and be able to test it.

[2017-06-14 21:01] KarishmaBothara commented on #21
Thanks @Moaazsidat . I was trying to test with the emulator. Many thanks for correcting me. Attached is the screenshot of how the UI and camera is render.
<img width="276" alt="capture" src="https://user-images.githubusercontent.com/29415595/27154460-395b0f3c-51a9-11e7-8d9c-9fe8c32e30e6.PNG">

[2017-06-15 17:36] moaazsidat commented on #21
Yep, tested on Android studio Nexus 5X API 24.

![screenshot 2017-06-15 13 34 45](https://user-images.githubusercontent.com/5963656/27194138-802650ea-51cf-11e7-9e47-c8a657ff546a.png)

Going to close this issue, marked as resolved, feel free to open another issue if you have further questions

[2017-06-15 17:53] #21 closed

[2017-06-28 21:22] parkerdan commented on #15
Just put it in a `Modal` and access with a `Touchable`

[2017-07-17 06:04] Dannnyho opened #23 "Any example for android device?"
NavigatorIOS is not working for android, is there any sample for android development?

[2017-07-26 19:18] moaazsidat commented on #23
hey @Dannnyho

since QRCodeScanner is just a React component, you can always render it like so
[code]

[2017-08-02 21:41] djavier commented on #15
Hi @parkerdan could you elaborate a little bit more?

[2017-08-06 20:29] evanmays opened #26 "Feature Request: Custom marker in camera view"

[2017-08-07 00:29] victorsferreira opened #27 "How do I use this component with ReactNavigation?"
All the examples you created use NavigatorIOS to build the scene. But i'm in a project that already uses ReactNavigation.

How can I combine both and have a scene that uses the component?

[2017-08-07 03:07] moaazsidat commented on #27
Hey @victorsferreira, will take a look at ReactNavigation, and try to add a couple of examples using it. Since this is just a react component, you should generally be able to use it as any other component.

[code]

[2017-08-20 11:36] assafb81 opened #28 "Verify qr-code origin / authenticate data"
Hi,
I am not sure this is the right location but:
what is the best way to validate the QR-Code I scan with my application (using react-native-camera).
I want to show an error message, or something like that, when the qr-code was not sent from specific location?

something like digital signature or RS256/HS256 scenarios (https://stackoverflow.com/questions/39239051/rs256-vs-hs256-whats-the-differen

[2017-08-20 15:13] moaazsidat commented on #28
hey @assafb81, wondering if you can do that inside the `onRead` function passed as a prop. if you're validating asynchronously, a promise with callback that renders an alert modal if in case the QR code wasn't verified might be a way to go (see code sketch below).
Let me know if that answers your question.

[code]

[2017-08-20 19:23] assafb81 commented on #28
I want that the qrCodeData will contain a private key that will be validated by a public key that the application will hold....Is it possible to have multiple private keys with one public key?

[2017-08-24 03:20] moaazsidat commented on #26
Fixed in [v0.0.17](https://www.npmjs.com/package/react-native-qrcode-scanner)

[2017-08-24 03:20] #26 closed

[2017-08-24 03:24] moaazsidat commented on #28
Yep. You can also directly use `sha256(...)` in place of `getAuthInfo()` since that function also returns a promise, let me know if you run into any issues with this.

[2017-08-25 12:01] MTGHO commented on #23
When I put QRCodeScanner component in a View everything disappears in android!But it works on iphone!
I need it works on android too
my code:
[code]

[2017-08-26 01:29] moaazsidat commented on #28
Going to close this, feel free to reopen if this still needs fixing. Also, if possible/interested, send a PR for an example covering this use case, definitely think others looks to auth/verify may benefit from this.

[2017-08-26 01:29] #28 closed

[2017-08-27 05:48] assafb81 commented on #28
sha256() only use to hash a string, but its not going to help:
sha256(string) = hashedString

I don't see how this can help...I've tried that - [https://github.com/itinance/react-native-sha256/issues/3](url)

[2017-09-06 21:07] madki commented on #15
@moaazsidat You can reactivate it by setting getting a reference to the component and using `scanner._setScanning(false)`. A better API would be to add a method called `reactivate()` to `QRCodeScanner`.

Here's a complete example:
[code]

[2017-09-07 13:27] lodi-g commented on #15
Thanks @madki
Worked well for me.

[2017-09-07 13:36] moaazsidat commented on #15
@madki thanks for the suggestion, would you be able to submit a PR with the suggested changes? Thanks!

[2017-09-10 16:56] nachovg opened #31 "Get the code?"
How can I get the code after read it?
Thanks!

[2017-09-11 14:24] moaazsidat commented on #31
@nachovg sorry not sure what you mean, you can always clone the repo to get the source code.
Let me know if that answers your question, or if you have further questions.

[2017-09-12 15:59] gregoireLem opened #32 "customMarker doesn't show up"
Hey guys, thanks for the great job you've done!
However, I am not able to custom the marker.
I just tried to pass your marker and change the color, but it doesn't show up
[code]

custom Marker :
[code]
custom marker style :
[code]

thanks for helping

[2017-09-12 17:59] #31 closed

[2017-09-12 18:20] nachovg commented on #31
Sorry I didn't know how to get the Text when I scanned the code, but I just did it with e.data, thanks!

[2017-09-29 09:16] khunghang16 opened #34 "undefined is not an object(evaluating 'CameraManager.Aspect')"

[2017-10-03 23:06] moaazsidat commented on #23
@Dannnyho @MTGHO added an Android example:
https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/examples/default.android.js

Tested on the Android studio emulator:
<img width="331" alt="screenshot 2017-10-03 16 01 35" src="https://user-images.githubusercontent.com/5963656/31153252-d02599bc-a854-11e7-8241-6113e269cc44.png">

@MTGHO with respect to the code snippet you added above,

[2017-10-03 23:06] #23 closed

[2017-10-03 23:43] moaazsidat commented on #32
@gregoireLem you're missing the `showMarker` prop, setting it to true should get it working. Closing this for now, please reopen if the problem persists.

[2017-10-03 23:43] #32 closed

[2017-10-03 23:46] moaazsidat commented on #34
@khunghang16 please add more details to your issue when filing one.

This may help: https://github.com/lwansbrough/react-native-camera/issues/220
Generally points towards linking the npm module properly.

Going to close this, please reopen if the issue persists.

[2017-10-03 23:46] #34 closed

[2017-10-03 23:58] moaazsidat commented on #15
Added in [0.0.20](https://www.npmjs.com/package/react-native-qrcode-scanner),
docs: https://github.com/moaazsidat/react-native-qrcode-scanner#reactivate

[2017-10-03 23:58] #15 closed

[2017-10-04 00:00] moaazsidat commented on #20
hey @TechSnake, you might want to use the `reactivate={false}` prop with the `reactivate()` method just released in 0.0.20 version.

You can see further details here: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/15
And docs for `reactivate()` here: https://github.com/moaazsidat/react-native-qrcode-scanner#reactivate

Please feel free to reopen the issue if this is still a probl

[2017-10-04 00:00] #20 closed

[2017-10-04 00:02] moaazsidat commented on #12
@PlantBuilder can you point towards a reproducible example of this, thanks!

[2017-10-04 16:17] Amurmurmur opened #35 "Permissions"
The app will crash if permissions are not give to the app.

My idea is to introduce:
[code]
Hope it helps.

[2017-10-04 23:27] moaazsidat commented on #35
@Amurmurmur good idea, I like it, would you be able to create a PR for this! Thanks!

[2017-10-04 23:45] Amurmurmur commented on #35
@moaazsidat Sweet just did it. On top of that added an empty component prop if no permissions given. Check it out #36

[2017-10-04 23:45] #35 closed

[2017-10-05 05:28] LeoLaiFookSiang opened #37 "Unable to scan text content qr code"
Hi, I am not able to scan the QR Code with text content, it looks like only able to scare QR Code with HTTP link content, please help

[2017-10-05 05:34] #37 closed

[2017-10-05 15:45] PlantBuilder commented on #12
At this point I am not sure whether my comment had to do with your good work or my misunderstanding how react navigation works... I tried searching for an example but couldn't locate one.

[2017-10-06 04:30] moaazsidat commented on #12
Hmm, no worries, I'll try to setup an example with stack navigation this weekend to test this out

[2017-10-06 11:46] joncursi opened #38 "Android: undefined is not an object (evaluating styles.notAuthorizedView)"
I get a redbox error on Android when the app starts on latest version:

[code]

[2017-10-06 13:25] GregorHorvatH commented on #38
i got this error too

[2017-10-06 14:36] alekshs commented on #38
I am also getting

 when running this in xcode.

The styles constant is unreachable for some reason.
I also noticed that there is no import for the <Text> component.

[2017-10-06 17:54] rochapablo commented on #38
+1

[2017-10-06 17:55] moaazsidat commented on #38
hey all, apologies for the trouble, this got introduced in 0.0.21, things should be stable if you revert to 0.0.20, working on fix.

[2017-10-06 18:26] moaazsidat commented on #38
Pushed a fix in [v0.0.22](https://www.npmjs.com/package/react-native-qrcode-scanner), please let me know if you run into further issues.

[2017-10-06 18:34] PatrikTes commented on #38
0.0.22 is working

[2017-10-07 07:49] joncursi commented on #38
LGTM 👍

[2017-10-07 07:49] #38 closed

[2017-10-12 07:49] jctadios commented on #12
same problem here. any updates?

[2017-10-14 18:54] IamNotHuman opened #39 "How to deal with IOS and Android permissions using expo?"
I'm developing on expo and what it does it gets rid of the android and ios folders and creates its own folders. So where can I find the "AndroidManifest.xml" and "Info.plist" or something equivalent for expo.

[2017-10-15 18:14] moaazsidat commented on #39
@IamNotHuman would it be better to use the BarCodeScanner component that expo provides? does this help: https://snack.expo.io/HyiTlAn0e

[2017-10-17 14:32] simonDos opened #40 "Attaching ref description in readme is incorrect"
<QRCodeScanner ref={(node) => {this.scanner = node}}>

instead of

<QRCodeScanner ref={(node) = this.scanner = node}>

solved it for me at least. PS thanks for the module :)

[2017-10-17 15:53] moaazsidat commented on #40
yep, you are correct, I've updated the readme and will push it out in the next release, thanks for the catch!

[2017-10-24 16:47] moaazsidat commented on #12
@jctadios can you point me to a snippet of code/repo that reproduces this problem, thanks!

[2017-10-26 08:05] adirzoari opened #41 "react-native-qrcode-scanner cannot read property oneOftype undefined"
I'm using react-native v0.49 and i have error when i run qrcode scanner.

[code]

I checked into the node_modules the react-native-qcode-scanner folder into examples and I did exaclty the example. in addition in index.js of this folder of the plugin I see the oneOfType property but I don't see any wrong from my side. t

[2017-10-26 18:33] moaazsidat commented on #41
Would you be able to add the complete error message/possibly also a screenshot of the error, thanks!

[2017-10-27 06:04] puthymol opened #42 "reactivate scanning qr code"
Please tell me in deep how to use this.
![image](https://user-images.githubusercontent.com/22314044/32089977-3c2217ce-bb17-11e7-9ce0-49f43d1605c0.png)

[2017-10-27 08:04] #42 closed

[2017-10-27 09:53] kidolee opened #43 "help, when onRead() ,black screen and exit.."
[code]

//this is usePage

          <View style={[styles.valueCell,{borderWidth: 1, borderStyle: 'dashed', borderColor: 'black', marginLeft: 20, width:((DeviceWidth-30)*(1/5)), height:(DeviceHeight/16)}]}>
            <TouchableHighlight underlayColor='gray' disabled={thes.state.disabled} onPress={() => {
              const { navigate } = this.props.navigation;
              navigate('WarehouseO

[2017-10-30 11:09] adirzoari commented on #41
![screen shot 2017-10-30 at 13 08 21 2](https://user-images.githubusercontent.com/20258998/32167999-823f06c8-bd73-11e7-894c-a73b6d7c1d12.png)

[2017-10-30 17:26] moaazsidat commented on #41
@adirzoari when did you add `react-native-qrcode-scanner` to the project?
a change was recently introduced to use the `prop-types` standalone package instead of using it from within the `react` module which is going to be deprecated. My guess is that for some reason, `prop-types` wasn't installed correctly (since that's the only place the package uses `oneOfType`, can you try running `yarn` or `np

[2017-10-30 17:29] moaazsidat commented on #43
Structure of `event` in the callback: https://github.com/lwansbrough/react-native-camera#onbarcoderead

[2017-10-30 17:31] adirzoari commented on #41
I installed it today actually. and I tried to install again. when i delete the plugin\import to qr scanner, the app works fine. so the issue is this plugin.

[2017-10-30 18:03] moaazsidat commented on #41
Going to have to look into this further, may be able to get to this tonight or tomorrow.

[2017-10-30 18:05] adirzoari commented on #41
thank you for your time.

[2017-10-31 08:41] adirzoari commented on #41
hey @moaazsidat, I'm sorry but it's was my fault.
I had react-native-camera version 0.6.0 and when i deleted it and install again react-native-camera the current version is 0.10.0 and it solve my problem. so it's not issue of react-native-qrcode-scanner. sorry, thank you for your time.

[2017-10-31 08:41] #41 closed

[2017-10-31 15:52] moaazsidat commented on #41
No worries, glad the issue was resolved!

[2017-11-03 06:28] danilovdev opened #45 "How to stop camera when moving to next Component with React Navigation"
I am using Stack Navigator from React Navigation. And when I read QR code and moving to next component but camera still works and vibrates. I set reactivate={true} and reactivateTimeout={5000}

[2017-11-05 19:21] hilkeheremans commented on #45
This issue is not specific to `react-native-qrcode-scanner` -- it is also valid for `react-native-camera`.

When the Camera component unmounts, the camera will no longer function. In `react-navigation` and in many other navigation libraries, the problem is that screens are often pushed into a stack, but the screens no longer in view do not actually unmount.

In order to avoid this, you would need

[2017-11-05 19:28] hilkeheremans commented on #12
First hunch: Assuming you're using `react-navigation`. If this only occurs in a stacknavigator but not in a tabnavigator, it's possible that this is related to the implementation of the stack navigator. Perhaps the underlying camera component gets mounted twice. This would perfectly explain these crashes. See also #45

Still, I'm a little puzzled why a back navigation to `null` would leave the com

[2017-11-05 20:08] hilkeheremans commented on #12
Oh, btw, try doing a `reset` instead of `back(null)`, see what happens.

[2017-11-05 20:12] hilkeheremans commented on #45
Also, quick fix since I was just battling the same issue: https://github.com/patlux/react-navigation-is-focused-hoc

[2017-11-06 03:58] moaazsidat commented on #39
Going to close this since there wasn't any followup, please feel free to reopen if you still have questions. Cheers!

[2017-11-06 03:58] #39 closed

[2017-11-17 05:44] JimmyMow commented on #34
I am seeing this error after following the README. I noticed the react-native-camera dependency is 0.10.0 but their README states:

if on react-native < 0.40: npm i react-native-camera@0.4
if on react-native >= 0.40 npm i react-native-camera@0.6

Could this be an issue? I've rebooted. Linked and unlinked. Uninstalled and installed. No luck.

(react-native 0.50.3)

[2017-11-22 13:02] brunomazzardo opened #47 "Access a feature from camera module itself"
Can I from your module have access to features like turning on flash from the camera module you used to implement this scanner?

[2017-11-24 05:11] moaazsidat commented on #47
@brunomazzardo not currently, but this module uses the [react-native-camera](https://github.com/lwansbrough/react-native-camera) module which does allow passing a proptype to control the flash, will accept PRs adding that functionality of passing the prop down to `react-native-camera`

[2017-11-24 05:12] moaazsidat commented on #43
Closing this, please feel free to reopen if still unresolved.

[2017-11-24 05:12] #43 closed

[2017-11-29 16:03] acrocat opened #50 ".reactivate is not a function"
I'm trying to reactivate the camera after the user acknowledges that their last scan failed.
[code]

In debugging I can see that `qrCodeScanner` is correctly set as my reference, but this call errors and tells me that reactivate is not a function.

[2017-11-30 23:26] joncursi opened #52 "[Android] Attempted to redefine property `cameraType`"
Android is broken on the latest release due to this error. Looks like this was fixed in https://github.com/moaazsidat/react-native-qrcode-scanner/pull/49

Can we get a new version deployed to NPM?

[2017-11-30 23:50] moaazsidat commented on #52
my bad, published 0.0.25

[2017-11-30 23:50] #52 closed

[2017-12-01 08:41] diamedi commented on #52
Hey guys,

I got rid of the error when I comment out my script with the scanner and hot reload it back into while running the app.

Works fine for me

[2017-12-04 12:31] brunomazzardo commented on #50
Can you send your QRCodeScanner tag?

[2017-12-05 17:17] #47 closed

[2017-12-06 03:40] DSTOLF commented on #12
Hi guys,

Just dropping buy to leave my compliments for this awesome project, it really helped me getting started quickly on my own project.

If anybody else's app is crashing when using stack navigation, I've managed to get it working nicely with this fix:

`export default class Scan extends React.Component<*> {
  // Set the navigation options for `react-navigation`
  static navigationOptions = {

[2017-12-06 03:43] DSTOLF commented on #12
BTW, I'm not sure that the forceUpdate call is the right approach, or if it's in the right place... I sense it should be in a .then block somewhere... so if anybody thinks there's a better way, please let me know :)

[2017-12-06 07:54] chopinas commented on #45
so easy! just use `this.props.navigation.goBack();`

[2017-12-10 13:48] rahulmenon87 opened #54 "Camera not authorized"
I am getting Camera not authorized error on android 5.1 device. Camera loads well on emulator with android 6.

[2017-12-11 20:12] moaazsidat commented on #54
@rahulmenon87 you may need to reauthorize the app to use the camera, we recently added this: https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/index.js#L88-L95

[2017-12-12 00:09] moaazsidat opened #56 "Add prettier"
Let's add prettier. Would be nice to have consistent styling across the project using prettier/lint-staged/husky, without having to think about it too much.

[2017-12-12 05:07] moaazsidat commented on #54
should be fixed [here](https://github.com/moaazsidat/react-native-qrcode-scanner/pull/55)

[2017-12-12 05:07] #54 closed

[2017-12-13 01:40] Dubroy opened #57 "May I use this on creat react native?"

[2017-12-13 04:09] hllhui commented on #57
creat react native had own qrcode-scanner ,very easy to use, 'expo camera'

[2017-12-13 09:10] moaazsidat commented on #57
yep, what @hllhui said.
you can find an example of that here: https://snack.expo.io/HyiTlAn0e

this module won't work with create-react-native-app without ejecting it because of how it requires you to link the dependent react-camera module.

[2017-12-13 09:11] #57 closed

[2017-12-13 09:12] moaazsidat commented on #50
@acrocat is this issue still unresolved? if so, please reopen, and also link to/paste the rest of the code to debug, thanks!

[2017-12-13 09:12] #50 closed

[2017-12-14 11:34] imomer commented on #45
So you are saying we have to use `this.props.navigation.goBack();` we cannot navigate to any specific component?

[2017-12-14 11:55] imomer commented on #27
@moaazsidat there is a bug in this module. When you try to navigate to another component and come back to scanner it closes the app.

[code]

[2017-12-14 11:56] imomer commented on #12
@DSTOLF didn't work for me :(

[2017-12-16 11:23] tiennguyen9988 opened #58 "Error version 0.0.28 on Android"
On Android has error: Camera No Authorized on v 0.0.28

[2017-12-18 19:50] moaazsidat opened #59 "Looking for an Android developer as a core contributor"
Hey folks, looking for Android developer to help tackle Android specific issues that come along in this project. If you're interested in helping out, leave a comment below. Thanks and cheers!

[2017-12-22 08:42] cheneywan commented on #58
same issue

[2017-12-22 09:00] cheneywan commented on #58
0.0.25 is work

[2017-12-23 09:06] savshen opened #60 "Android <5. 'request' returns 'true' instead of 'granted'"
https://github.com/moaazsidat/react-native-qrcode-scanner/blob/ce18aee444b5c706fbd228b76f62807f30c9518c/index.js#L109

on Android <5 'request' promise resolves to 'true' instead of 'granted': https://facebook.github.io/react-native/docs/permissionsandroid.html

And hence not authorized view is shown always:
![screenshot_1514019880](https://user-images.githubusercontent.com/18660874/34318468-261052

[2017-12-24 05:45] kornji commented on #60
I found this message on Adnroid Version 5.0 too..

[2017-12-24 05:58] kornji commented on #60
I try to check data type before assign value. it's work...
![image](https://user-images.githubusercontent.com/3823224/34324562-e3391d72-e8a9-11e7-9153-b7624100f6ee.png)

[2017-12-27 15:50] moaazsidat commented on #60
accepting PRs to fix this, thanks!

[2017-12-28 03:24] felgarte opened #61 "Never requested camera permission"
I followed all the steps to install the lib and all seems works fine, but when I install the app in a real device, I got never see the camera permission request.

[code]

I see "Camera not authorized" in the view.

Any help?

[2017-12-28 09:17] hllhui commented on #61
i also met this problem, and i change the index.js line 109:
'this.setState({ isAuthorized: granted ===  PermissionsAndroid.RESULTS.GRANTED, isAuthorizationChecked: true })'
to
'this.setState({ isAuthorized: granted, isAuthorizationChecked: true })'
then not show 'Camera not authorized' any more

[2017-12-28 10:01] rizwanahmed19 commented on #61
I'm facing the same issue.

[2017-12-28 23:33] moaazsidat commented on #61
accepting PRs to fix this, thanks!

[2018-01-01 18:06] afilp commented on #54
@moaazsidat Hello, in Android 5.1 I also get this "camera not authorized", despite I have the 0.0.28 version.

I am not sure what you mean to "reauthorize" the app. The app shows "take pictures and videos" in the PERMISSIONS properties at "App Info" settings.

Can you please clarify what we need to do? Thanks!

[2018-01-04 17:06] lucasharada commented on #27
@imomer @victorsferreira Any solution on this? I'm having this issue when creating a StackNavigator with this Component.

[2018-01-04 17:08] imomer commented on #27
@lucasharada well didn't find a solution but I have worked around it

[2018-01-04 17:25] lucasharada opened #62 "Application crashing when using with TabNavigator"
I have an application which uses TabNavigator from react-navigation in the main screen. One of the tabs is the one that contains the QRCodeScanner component. When the main screen is loading (with all tabs), the application crashes.

Versions in use:
[code]

[2018-01-04 18:39] lucasharada commented on #27
@imomer Can you show us how you did it?

[2018-01-06 06:06] williameot opened #63 "QR scanner not showing Android 5 or under"
I followed the instructions from this link:
https://github.com/moaazsidat/react-native-qrcode-scanner/issues/61
"Camera not authorize" message is gone but the screen is blank.
I turn the camera on and use the device built-in camera app to confirm that the camera works.
Then I restarted the android device, turn on the camera again and try the qr scanner but still see the white screen.
Can this be f

[2018-01-06 18:58] moaazsidat commented on #63
I've pushed a temp fix for this in 0.0.29, please let me know if it fixes the issue

[2018-01-06 18:58] moaazsidat commented on #61
I've pushed a temp fix for this in 0.0.29, please let me know if it fixes the issue

[2018-01-06 18:58] moaazsidat commented on #54
I've pushed a temp fix for this in 0.0.29, please let me know if it fixes the issue

[2018-01-06 20:57] williameot commented on #63
Looks like it is fixed.  Thanks.

[2018-01-06 20:57] #63 closed

[2018-01-06 21:47] moaazsidat commented on #60
i've pushed a temp fix for this in 0.0.29

[2018-01-06 21:47] #60 closed

[2018-01-06 21:48] moaazsidat commented on #58
i've pushed a temp fix for this in v0.0.29

[2018-01-06 21:48] #58 closed

[2018-01-06 21:48] #61 closed

[2018-01-07 18:10] afilp commented on #61
@moaazsidat First test, seems to be working! Thanks.

(since this is a temp solution, could it break in some cases?)

[2018-01-07 18:11] afilp commented on #54
@moaazsidat First test, seems to be working! Thanks.

Please also read my comment at #61

[2018-01-07 20:11] afilp opened #64 "Clicking on the scan area minimizes the app and mobile goes to the HOME screen"
When clicking on the camera scan area, the entire app loses focus and Android goes to the phone's HOME screen.

Using Android 5.1.1.  Do you have a way (prop?) to prevent this? Is this normal?

[2018-01-07 22:03] afilp commented on #27
@imomer Can you please show us the workaround? The app also crashes...

[2018-01-07 22:06] afilp commented on #64
Actually, it does not minimize. It crashes... and it is not related to clicking on it.

It is related to this: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/27

I am closing this issue.

[2018-01-07 22:06] #64 closed

[2018-01-07 22:08] afilp commented on #12
In my case, the app crashes when I mount and remount the app, after some times (don't understand how many times).
It is not related to navigation but to the scanner view being mounted and unmounted regularly through the same View, by using this code:

``{this.state.isScannerEnabled && <Scanner>}``

Any ides why and how to prevent this?

[2018-01-07 22:39] afilp commented on #12
I also see **many** problems with app crashes in Android in `react-native-camera`, maybe the problem is only there?

See here:

https://github.com/react-native-community/react-native-camera/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+crash

[2018-01-10 21:41] afilp opened #65 "Can the dimensions of the camera scanner become smaller when in a smaller View?"
I have added the QRCodeScanner inside a View which is around 1/3 of the page height (and almost 100% of the page width).

I noticed that the `marker` is still large and that the detection of the QR is better on a corner than in the middle. Also the scanner requires more space and makes the ScrollView have a scrollbar.

I added width, height props to `cameraStyle`, is this the correct approach? Wil

[2018-01-19 04:03] JAISWAL007 opened #66 "How Can i added Camera Permission in Android"
How can i Add Camera Permission for android devices..?
I have added this..
 permissionDialogTitle: "Info",
 permissionDialogMessage: "Need camera permission",
 checkAndroid6Permissions: false,
but not working..

[2018-01-19 04:40] JAISWAL007 commented on #61
Did this issue is solve ? I'm facing same problem..

[2018-01-19 05:45] #66 closed

[2018-01-23 03:22] brandoncorbin commented on #37
Did you happen to figure out the issue? I'm running into this trying to store 300 bytes in the code, and it simply won't read. But with something short and sweet like a URL - it reads fine.

[2018-01-25 07:47] LeoLaiFookSiang commented on #37
No I still unable to solve it. I use some encryption method to encrypt the information that I want to show then only make it to QR Code

[2018-01-26 15:18] imomer opened #68 "Scanner still runs in background if you navigate to different screen!"
I just realise that my app still able to scan QR code after even navigate from the scanning screen to home screen. Its just happening in iOS.

My code:

[code]

Is it a bug in the scanner or I'm doing something wrong?

I'm using `.navigate()` to go back to home screen

[2018-02-09 13:30] luanfelipecosta commented on #56
@moaazsidat could you 'teach' me how to configure prettier/link in my project ?

[2018-02-11 19:50] moaazsidat commented on #56
@luanfelipecosta sure thing,

Here's an outline for configuring pre-commit hooks for prettier:
https://prettier.io/docs/en/precommit.html, the lint-staged/husky approach is something I've used in the past, and has worked out well.

This requires you to have prettier installed, [installation instructions here](https://prettier.io/docs/en/install.html) - installing locally is probably the best appro

[2018-02-15 12:12] avencat commented on #60
Hello! @moaazsidat What is the temp fix you pushed please? I have 0.0.29 and still have this error… :( `react-native-camera` in v.1.0.0 manage like this:
[code]
But I found that here, in v.0.0.29, we're still using
[code]

[2018-02-21 10:41] sarahmarciano commented on #65
I am also facing a similar issue..
I want my scanner to be 80% of my device's width and have margin around my qr scanner.. but I dont succeed to do that..
even when I pass marginRight, marginLeft to different props like style, container style etc..
nothing helps..

[2018-02-21 23:24] moaazsidat commented on #68
@imomer see if this helps: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/45

[2018-02-21 23:24] moaazsidat commented on #62
@lucasharada see if this helps: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/12

[2018-02-25 05:12] moaazsidat commented on #65
Open to PRs implementing the feature, thanks! :)

[2018-03-01 15:59] adrianolsk commented on #45
I workadound is to set a state property to hide the scanner before you navigate

[2018-03-01 17:25] kaiserama opened #70 "Unmet Peer Dependency react-native-camera"
First, I'm fairly new to RN development so if this is an easy issue I apologize for the dumb question.

When I go about installing I follow the instructions to install react-native-camera (including linking).  Which installs react-native-camera@1.0.1.  When I run the react-native-qrcode-scanner I receive the error: UNMET PEER DEPENDENCY react-native-camera@1.0.1.  In the peer dependencies section

[2018-03-01 18:09] kaiserama commented on #70
Oh, didn't realize it was just a warning.  Closing.

[2018-03-01 18:09] #70 closed

[2018-03-02 07:05] imomer commented on #45
hide the scanner or unmount it?

is it working for you?

[2018-03-06 16:39] moaazsidat commented on #68
closing due to inactivity, please feel free to reopen or follow up in another related issue if still unresolved.

[2018-03-06 16:39] #68 closed

[2018-03-06 16:39] moaazsidat commented on #62
closing due to inactivity, please feel free to reopen or follow up in another related issue if still unresolved.

[2018-03-06 16:39] #62 closed

[2018-03-08 21:54] andriRoll opened #71 "error while run first"
i have message error in first run. the react native camera and qr code has been installed, but i get the error message : Could not find com.github.react-native-community:cameraview:d5d9b0d925494ef451ce3eef3fdf14cc874d9baa.
     Required by:
         QRDemo:app:unspecified > QRDemo:react-native-camera:unspecified

can you help me to solve that

[2018-03-09 01:20] moaazsidat commented on #71
@andriRoll Are you trying to run it for an Android build or an iOS build?

[2018-03-09 02:23] andriRoll commented on #71
yes i do, but in android show that message, i use react native 0.54.0

[2018-03-09 02:31] andriRoll commented on #71
do i have to create index.js in my project, if i must been created that where i save the index.js or just replace older index.js in my project?

[2018-03-09 18:42] moaazsidat commented on #71
creating an index.js is not a requirement for this project

[2018-03-12 11:04] OtacilioN commented on #12
+1 here, @DSTOLF solution did not work to me

[2018-03-12 13:36] JAISWAL007 commented on #45
just use this.props.navigation.replace("New_Component");

[2018-03-14 07:48] Kyi-Moe-Min opened #72 "white screen"
scanning work, but showing white blank screen instead of showing camera view.
sometimes app is not response at all

[2018-03-14 17:40] moaazsidat commented on #72
hey @Kyi-Moe-Min sorry, but can't debug further without further details

[2018-03-16 19:51] moaazsidat commented on #72
closing due to inactivity, please feel free to reopen if this is still an issue

[2018-03-16 19:51] #72 closed

[2018-03-16 19:51] moaazsidat commented on #71
closing due to inactivity, please feel free to reopen if this is still an issue

[2018-03-16 19:51] #71 closed

[2018-03-19 11:26] chixpc123 opened #73 "Showing blank white screen on android"
Hello @moaazsidat ,

I'm having similar issue as declare [here](https://github.com/moaazsidat/react-native-qrcode-scanner/issues/72)

### What's happening?
I integrate react-native-camera and also tried given example on react-native-camera page which you can show by [clicking here](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md).
It's working fine for me

[2018-03-19 12:09] sibelius opened #74 "Upgrade to latest version of react-native-camera and use RNCamera"

[2018-03-19 16:43] moaazsidat commented on #73
Thanks for filing this issue, this may be due to a new version of react-native-camera, going to investigate this further.

[2018-03-19 16:44] moaazsidat commented on #74
thanks for bumping this, @sibelius, wondering if you'd be able to help out with the upgrade? thanks!

[2018-03-21 13:48] jarnail1004 opened #75 "Get error while scanning barcode"
### What's happening?
Get the below error when try to scan barcode.

### How can it be reproduced?
I used [example-code](https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/examples/default.android.js) and it works but when try to scan barcode, it display error screen:
![screenshot_20180321-185831](https://user-images.githubusercontent.com/26272597/37713067-c1f9e692-2d3b-11e8-9de

[2018-03-21 21:22] alexgurr commented on #74
I'll take a stab at this.

[2018-03-22 07:08] #75 closed

[2018-03-22 09:44] Jiangjinjin1 opened #77 "Why does android scan the qr code to get the return value but scan the bar code without responding?"

[2018-03-23 05:59] #77 closed

[2018-03-26 15:57] moaazsidat commented on #74
released in [v1.0.0](https://www.npmjs.com/package/react-native-qrcode-scanner)
@sibelius do you think this library would be a good fit for React Native Community? thanks!

[2018-03-26 15:58] #74 closed

[2018-03-26 15:59] moaazsidat commented on #73
we've just released [v1.0.0](https://www.npmjs.com/package/react-native-qrcode-scanner) with the new react-native-camera updates, can you try that and see if it works, please also take a look at the [migration guide](https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/migration.md).

[2018-03-27 18:18] Bardolos commented on #73
I was having the same problem. I had updated react-native-qrcode-scanner to 1.0.0 and react-native-camera to 1.0.3. Project built fine but when I navigated to the scene the component didn't seem to be rendered. I could see the topView and the bottomView parts of it, but not the cameraView.

So I solved the problem by explicitly setting the width and height in the cameraStyle prop. Check if your st

[2018-03-31 04:30] nagacoder opened #78 "Check The render Method of QRCodeScanner"
Android
i am was import QRCodeScanner Component to my index page
this my example code
`import React, {Component} from "react";`
`import QRCodeScanner from 'react-native-qrcode-scanner';`
`class QRCoder extends Component {`

`  onSuccess(e) {`
 ` Linking.openURL(e.data).catch(err => console.error('An error occured', err));`
`}`
  `render() {`
    `return (`
     ` <QRCodeScanner/>`
      `);`
  `}`

[2018-04-01 00:10] moaazsidat commented on #78
you're missing the `onRead` prop which is required, feel free to use examples [here](https://github.com/moaazsidat/react-native-qrcode-scanner/tree/master/examples)

[2018-04-01 05:13] nagacoder commented on #78
![error](https://user-images.githubusercontent.com/32693625/38170046-32a97e36-35a5-11e8-9c84-5ca6042c484d.png)
thanks for your replay , but its not solved, i am try use the example code for default android, but i am got same the error ,

are you have another example QRCoder implement for android?

this my full code  but not working

`import React, { Component } from 'react';`

`import {`
`  AppReg

[2018-04-01 13:26] yazpid commented on #78
I'm have the same isssue like above. Also copied expamle from documentation.

[2018-04-02 03:09] moaazsidat commented on #78
Hey folks, thanks again for reaching out! Unfortunately I don't have a machine with the Android setup ready to test this out and debug it over the next couple of months, please feel free to look deeper into this, I'm [also looking for an active Android dev to help be a core contributor](https://github.com/moaazsidat/react-native-qrcode-scanner/issues/59) if that interests you.

As a start, it may

[2018-04-02 18:52] reabbotted opened #79 "Support notAuthorizedView in Android"
When the user does not authorize the camera, there is currently no way in Android to show to the user that they need to give authorization.

### What's happening?
In Android, when navigating to the view that renders the QRCodeScanner, the user is asked for permission. If the user denies that permission, for whatever reason, they are given no indication that there should be something there. There i

[2018-04-04 14:26] ErikMejerHansen opened #80 "Not getting prompted for camera access on iOS"
It looks like the user is not getting prompted to allow access to the camera on iOS.
### What's happening?
Using the `<QRCodeScanner>`-component but the user never sees the prompt asking for access to the camera.
The `NSCameraUsageDescription` string has been added to `Info.plist`.

Seems like `Permissions.request(CAMERA_PERMISSION)` returns "undetermined" causing the not authorized view to be sho

[2018-04-04 15:50] kristerkari commented on #80
I ran into the same issue when upgrading to newest `react-native-qrcode-scanner` version.

This fix worked for me:

[2018-04-04 16:42] kristerkari commented on #73
I have having the same issue as @chixpc123. There reason why the app was only showing a red line was that I was trying to run the ios example on Android.

Here's the android version which works just fine:
https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/examples/default.android.js

@moaazsidat What about adding both Android and iOS examples to the README to avoid confusion? I

[2018-04-04 17:06] kristerkari commented on #80
I opened a PR #81.

[2018-04-05 15:28] #80 closed

[2018-04-05 15:29] moaazsidat commented on #73
That sounds like a good idea, thanks @kristerkari!

[2018-04-06 02:45] moaazsidat commented on #73
Seems like this is a styling/example issue which is resolved above, if it's still an issue, please feel free to reopen, thanks

[2018-04-06 02:45] #73 closed

[2018-04-06 02:48] moaazsidat commented on #12
if someone has the code with this bug (on iOS) reproducible in a repo, please point me to it, I may be able to dig deeper and see what's up. thanks!

[2018-04-06 06:09] TranDucBlog opened #83 "qrcode and barcode"
Hi,
I am in need of a library that helps with qrcode and barcode scanning.
p / s: sorry, my english is very poor

[2018-04-06 18:56] moaazsidat commented on #83
Check out [react-native-camera](https://github.com/react-native-community/react-native-camera)

[2018-04-06 18:56] #83 closed

[2018-04-09 02:02] Adwich opened #84 "Barcode scanning"
Hello everyone,
I'm using react-native-qrcode-scanner to scan qrcode and it work great. But I saw that it also can read barcodes given that react native camera can. My problem is that I've tried with barcodes but I can't get any reading.

### What's happening?
I can't scan a barcode.

### How can it be reproduced?
Here is the code I'm using. I've tried scanning all the barcode I have. To reproduce

[2018-04-09 02:06] miguelzau commented on #78
Hi, i use this version:
"react-native-camera": "^1.0.3",
"react-native-qrcode-scanner": "^1.0.0"
and no problem with the render method. before i have the error because i use a react-native camera version < 1.0.0

[2018-04-09 09:36] rahulshah007 opened #85 "Scanning"
When I try to scan qr code I m not able to read any qrcode any solution
### What's happening?

### How can it be reproduced?

### Build details?

[2018-04-10 02:29] nagacoder commented on #78
Thanks @miguelzau  its work fine,  just "upgrade version react-native-camera": "^1.0.3",

[2018-04-10 02:29] #78 closed

[2018-04-10 04:45] moaazsidat commented on #84
Wondering if it's working fine with QR codes?

[2018-04-10 06:21] WinterHuang3 opened #86 "Props "renderInView" are lost"
_renderScanner = () => {
        if (this.state.startScan) {
            return (
                <QRCodeScanner onRead={this._onScanFinished}
                               reactivate={true}
                               **renderInView={this._renderInView}**
                               cameraStyle={RoundCheckScannerStyles.QRCodeScanner}
                               topViewStyle={{flex : 0,

[2018-04-10 06:24] WinterHuang3 opened #87 "How do I turn on the flash when I scan the code?"
@ReactMethod
    public void operFlashLight(boolean flag, Promise promise) {
        boolean result = true;
        RCTCamera.createInstance(getDeviceOrientation(mReactContext));
        if (flag) {
            RCTCamera.getInstance().setFlashMode(RCTCameraModule.RCT_CAMERA_TYPE_BACK, RCTCameraModule.RCT_CAMERA_TORCH_MODE_AUTO);
        } else {
            RCTCamera.getInstance().setFlashMode(RCT

[2018-04-10 06:36] WinterHuang3 commented on #87
@moaazsidat

[2018-04-10 06:36] WinterHuang3 commented on #86
@moaazsidat

[2018-04-10 06:53] WinterHuang3 commented on #34
upgrade react-native-camera

[2018-04-10 07:16] Adwich commented on #84
Yeah no problem regarding scanning a Qrcode. But for any barcode I can't get it to work. Is there a specific setting to be able to scan one ?

[2018-04-10 15:34] prameetchakraborty opened #88 "App stops responding (Only Android)"
App becomes Non-Responsive

### What's happening?

App stops responding and crashes in Android

### How can it be reproduced?

When the code is present, app crashes sometimes (only Android, works fine in iOS). When I comment the code, app works fine.

### Build details?

Android

[2018-04-10 15:34] prameetchakraborty commented on #88
@moaazsidat

[2018-04-10 16:04] moaazsidat commented on #86
@WinterHuang3 hmm, can you point me to a part in the documentation that outlines `renderInView`, not sure what that is

[2018-04-10 16:08] moaazsidat commented on #87
@WinterHuang3 i don't think the `flashMode` prop is being passed down to RNCamera, that's because this library isn't passing down all props to react-native-camera. Initially when I built this library, it was for a very specific simple 'plug-and-play' use case.

in order to enable that feature, we'll also need to provide some UI around it in the library, please feel free to put up a PR if you think

[2018-04-10 16:11] moaazsidat commented on #84
Hmm, it shouldn't be preventing that, there is a setting to scan different types in react-native-camera, but by default it should be supporting all types, look at the doc link below, as well as the barCodeTypes prop below onBarCodeRead:
https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#onbarcoderead

[2018-04-10 20:56] rafinskipg commented on #88
after following the installations instructions my app doesn't launch. I have added some maven repositories too because react-native-camera dependency was crashing

[2018-04-12 02:36] WinterHuang3 commented on #87
@moaazsidat we need to use the flash at night because the light  is weak.

[2018-04-12 03:12] WinterHuang3 commented on #86
import React, { Component, PropTypes } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Dimensions,
  Text,
  Navigator,
  Vibration,
  Linking,
  Animated,
  Easing,
  View
} from 'react-native';

import Camera from 'react-native-camera'

export default class QRCodeScanner extends Component {
  static propTypes = {
    onRead: PropTypes.func.isRequired,
    reactivate: PropTypes.bool,
    re

[2018-04-12 03:30] WinterHuang3 commented on #86
@moaazsidat
export default class QRCodeScanner extends Component {
static propTypes = {
onRead: PropTypes.func.isRequired,
reactivate: PropTypes.bool,
reactivateTimeout: PropTypes.number,
fadeIn: PropTypes.bool,
showMarker: PropTypes.bool,
customMarker: PropTypes.element,
cameraStyle: PropTypes.any,
topViewStyle: PropTypes.any,
bottomViewStyle: PropTypes.any,
topContent: PropTypes.oneOfType([
Prop

[2018-04-12 03:48] Adwich commented on #84
I finally found that i can only scan barcode if my phone is scanning while oriented in landscape. I get the same behaviour in react-native-camera.

Anyway, thank you guys for your help

[2018-04-12 07:11] WinterHuang3 commented on #87
@moaazsidat
In "react-native-qrcode-scanner@0.0.9",
 the code "RCTCamera.getInstance().setFlashMode(RCTCameraModule.RCT_CAMERA_TYPE_BACK, RCTCameraModule.RCT_CAMERA_FLASH_MODE_TORCH);" can turn on the flash.  You can try.

[2018-04-15 04:03] chopinas commented on #12
I use goBack() after the scan and returned the result,but when code run this line   this.props.navigation.navigate("InterractMeeting",{url:result.url+NetUtil.token});
app crashed
![bug](https://user-images.githubusercontent.com/22740893/38774905-07829aca-40a5-11e8-8587-1bbf2c33587a.png)

[2018-04-15 04:06] chopinas opened #89 "App crashed when navigating to another page"
I use goBack() after the scan and returned the result,but when code run this line this.props.navigation.navigate("InterractMeeting",{url:result.url+NetUtil.token});
app crashed
![bug](https://user-images.githubusercontent.com/22740893/38774915-72a5ea46-40a5-11e8-9dcb-717c958cab18.png)

[2018-04-15 04:14] chopinas commented on #89
i don't know what happend ,sometimes OK,sometimes crash

[2018-04-16 08:02] WinterHuang3 commented on #86
**props "renderInView" in react-native-qrcode-scanner@0.0.9
but now it is gone**

[2018-04-18 14:57] ayobami303 opened #90 "App crashes when app is minimized on the screen having the QRCode scanner view"
When the app is minimized and opened again it crashes. I cant find any help on the internet

render() {

		let scanner;

	    const startScan = () => {
			if (scanner) {
				alert("this")
				scanner._setScanning(false);
			}
	    };
		return (
			<View style = {styles.container}>
				<QRCodeScanner
					style = {{flex:1}}
					ref = {(node) => {scanner = node}}
					onRead = {this._onSuccess}

[2018-04-25 15:23] ndsmith2280 opened #91 "Using `react-native-qrcode-scanner` with `create-react-native-app`"
### What's happening?

When I run the `react-native link react-native-camera` command I get the following output:
[code]
It seems to be doing nothing

When I run the `react-native link` command I get the following error:
[code]

According to [Graham42](https://github.com/Graham42) @ [Issue #556](https://github.com/react-community/create-react-native-app/issues/556); it looks like I might need to e

[2018-04-25 17:28] jeffvandyke commented on #91
I looked into this for a simple app, and decided to use Expo's Camera component (see <https://docs.expo.io/versions/latest/sdk/camera> for docs), making use of the onBarCodeRead callback property (see <https://docs.expo.io/versions/latest/sdk/camera#onbarcoderead-function>), and that, combined with their example, works very well and allows for plenty of customization.

It does appear, that with th

[2018-04-25 19:26] moaazsidat commented on #91
yep, as @jeffvandyke mentioned, you're better off using Expo's camera component when using Expo, this library is primarily designed to work with the ejected version or in other words, a setup that is run using the `react-native` cli as it relies on linking.

If anyone in the community has experience integrating libraries with the Expo ecosystem, I'd be happy to entertain PRs attempting that.

Goin

[2018-04-25 19:26] #91 closed

[2018-05-01 06:27] markib opened #92 "After linking"
After  Linking camera and qr scanner
### What's happening?

Build file '\node_modules\react-native-camer
a\android\build.gradle' line: 4

* What went wrong:
A problem occurred evaluating project ':react-native-camera'.

### How can it be reproduced?

### Build details?

[2018-05-01 09:05] szejing547 opened #93 "Show Marker doesn't work"
### What's happening?

I've encountered of the "show marker" issue. I'm using the default marker.

### How can it be reproduced?

[code]

### Build details?

It doesn't work for Android and iOS. And I'm using
"react-native-camera": "^1.0.0",
"react-native-qrcode-scanner": "^1.0.1",

[2018-05-01 10:22] PasinduDineth opened #94 "Could not find method google() for arguments [] on repository container."
Hi all,
I am having this error after i install react native camera. Can anyone help me. I have changed build.gradle dependency classpath to 3 also. But nothing is working. Any ideas?
error -
A problem occurred evaluating project ':react-native-camera'.

Could not find method google() for arguments [] on repository container.

[2018-05-01 10:26] Rananjaya commented on #92
same problem here. any updates?

[2018-05-01 10:26] vikumDheemantha commented on #92
I had the same issue, wasted more than 3 hours. Still couldn't figure out a way to resolve this. Any one know how to fix this?

[2018-05-01 10:29] velvetrain commented on #92
yeah I had the same issue as well , it would be a huge help if someone could give a possible solution to fix this!!

[2018-05-02 09:16] hendradedis commented on #94
so you have amm problame same for me. me no working too. so is there to answer ?

[2018-05-02 13:58] eefret commented on #94
Also got this last night, probably something related to the gradle version

[2018-05-02 17:31] PasinduDineth commented on #94
@hendradedis @eefret this is a problem of react-native-camera. since qrcode-scanner use react-native-camera, it will effect to qrcode-scanner also. i hope qrcode-scanner people can give us a answer. and keep your eye on this issue also. i made an issue in react-naive-camera also..
https://github.com/react-native-community/react-native-camera/issues/1530

[2018-05-04 09:09] shruti-1195 opened #95 "how to use redux with this library"
### What's happening?

### How can it be reproduced?

### Build details?

[2018-05-04 09:09] #95 closed

[2018-05-04 10:54] markib opened #96 "Element type is invalid"
### What's happening?
Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.
Check the render method of `QRCodeScanner`.

### How can it be reproduced?

### Build details

[2018-05-07 08:45] flyher commented on #94
I met the same issue.

[2018-05-08 11:51] gornostal commented on #94
I was able to resolve the issue by following instructions in these two comments:
https://github.com/react-native-community/react-native-camera/issues/1530#issuecomment-385752864
https://github.com/react-native-community/react-native-camera/issues/1530#issuecomment-386572593

[2018-05-09 09:55] varipallisrikanth opened #97 "App crash while navigation and Can we pass QR image from gallery to this library for detection and extraction of data"
Application crashing while moving back and forth. and can we pass QR image from gallery for extraction data encrypted in that
### What's happening?
App crashing

### How can it be reproduced?
on the QR scanner screen, click on back and go to scanner screen one more time. and keep doing this in two times or three times app will crash

### Build details?
on both ios with (11 and 10.3) and android No

[2018-05-11 11:10] ghost opened #99 "How to reactivate the camera after the user acknowledges that their last scan failed."
When i get error in scanning, i need to scan again but it is not allowing. How to reactivate the scanner

[2018-05-12 13:01] kamalkech opened #101 "AndroidManifest / Add permission"
![2](https://user-images.githubusercontent.com/1313428/39957559-e73cbc8e-55ec-11e8-9e69-435f79e59182.png)

So how i can add a permission ??

[2018-05-12 13:20] kamalkech opened #102 "Camera Error"
![1](https://user-images.githubusercontent.com/1313428/39957730-8ee348ca-55ef-11e8-934d-4b89866955fc.png)

any idea plz ?

[2018-05-14 12:18] brunomazzardo commented on #99
If you have a ref to the scan, call ref.reactivate() when you have the error, or you can call a function that does it, like the one below

`_reactivate = throttle(() => {
    if (this.scanner)
      this.scanner.reactivate();
  }, 2000, {trailing: true, leading: false});
`

[2018-05-14 15:40] Taglohner commented on #88
Same here. App works fine on iOS device but on Android version 7.0 if the app is sent to the background it will stop responding. Tested on Android Oreo 8.0.0 works fine.

[2018-05-14 15:49] Taglohner opened #103 "Question - Any way I can set the Scanner to use the whole screen instead of a square?"
Question - Any way I can set the Scanner to use the whole screen instead of a square?

[2018-05-14 16:11] Taglohner commented on #103
Found the answer. Used StyleSheet to set height to 100%

    screenHeight: {
        height: '100%'
    }

Thanks anyways.

[2018-05-14 16:11] #103 closed

[2018-05-15 12:03] AliRadmanesh commented on #102
I have this error too. about a month ago I used this package with react-native 0.54 and everything was good. but now I have this error and I can't find solution for it :/

[2018-05-16 14:53] raulcostea77 commented on #96
I have the same error...
"react": "^16.3.0-alpha.3",
"react-native": "^0.54.2"
"react-native-camera": "^0.10.0",
"react-native-qrcode-scanner": "^1.0.1",

[2018-05-18 18:14] EsdrasEtrenne commented on #34
be sure to pod install after react-native link if you have cocoa pods

[2018-05-21 14:59] yzonglun opened #104 "A problem occurred evaluating project ':react-native-camera'. > Could not find method compileOnly() for arguments [com.facebook.react:react-native:+] on object of type org.gradle.api.interna l.artifacts.dsl.dependencies.DefaultDependencyHandler."
![1](https://user-images.githubusercontent.com/19408097/40314254-8c5074ae-5d4a-11e8-880f-4654bd57a011.jpg)

[2018-05-21 19:54] moaazsidat commented on #102
Please note that React Native Camera underwent major changes, make sure after upgrading to the latest version of react-native-qrcode-scanner, you've followed the migration guide (from React Native Camera) : https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/migration.md

[2018-05-21 19:55] #99 closed

[2018-05-21 19:57] moaazsidat commented on #59
@Taym95 sweet, have a couple of issues open that are labelled 'android', feel free to take on some of those, and submit PRs for any, thanks!

Can add you to contributors once we have a couple of PRs in, let me know if that sounds good, cheers!

[2018-05-22 13:14] Taym95 commented on #59
Yeah that sounds good!

[2018-05-23 10:27] ios-dev-newbie opened #105 "App crash when user not provide permission for camera?"
I have added the notAuthorizedView for iOS as well as checkAndroid6Permissions and permissionDialogTitle, permissionDialogMessage for android. But when I declined the camera permission app crashed.

### What's happening?

How to avoid crash when the permission is declined in both android and iOS.

### How can it be reproduced?

Prepare the setup as described in react-native-qrcode-scanner doc. Lau

[2018-05-23 13:48] Mobile-Mike commented on #87
You can not use flash, as it only works when taking picture. What you need is torch :)
toggleFlash = () => {
    const state = this.state
    state.cameraFlash = state.cameraFlash === Camera.constants.TorchMode.on
      ? Camera.constants.TorchMode.off : Camera.constants.TorchMode.on
    this.setState(state)
  }

[2018-05-23 17:22] AliRadmanesh commented on #102
I found the solution here: (can't find the link. it's a capture of it :)

![react-native-camera error solution](https://user-images.githubusercontent.com/23115511/40440508-87ceaac4-5ed3-11e8-9dd8-9b90da0ee983.jpg)

[2018-05-25 08:08] himaanshi opened #106 "Can't find variable : QRCodeScanner (In android)"
I am using
 "react": "16.3.1",
    "react-native": "0.55.4",
    "react-native-camera": "^1.1.4",
    "react-native-qrcode-scanner": "^1.0.1"

In ios app is working but in android  app is showing error

  ReferenceError: Can't find variable: QRCodeScanner
    This error is located at:
        in t
        in RCTView
        in RCTView
        in t_

Please help .

[2018-05-25 10:01] himaanshi commented on #104
Replace "compileOnly" with provided in /project/node_modules/react-native-camera/android/build.gradle

[2018-05-25 19:30] amin-wan-kenobi opened #107 "The app crashes - could it be camera?"
In my app, I use QR scanner which is embedded in a component. When I keep opening and closing the component (which has the QR scanner) after several attempts (sometimes up to 50 times somethings 12), the app crashes.
### What's happening?

### How can it be reproduced?

My phone is connected to the Xcode by cable so I can see all the logs. When it crashes, The error is in Libraries, RNCamera.xcode

[2018-05-27 13:27] rey1024 commented on #104
in <appname>/android/app/build.gradle, replace **compile** with **implementation**

[2018-05-30 04:55] Kusumawardana opened #108 "i don't know"
### What's happening?

### How can it be reproduced?

### Build details?

[2018-05-31 15:43] #108 closed

[2018-06-07 05:19] ParveenChhillar opened #109 "Cannot read property 'Aspect' of undefined"
import React, { Component } from 'react';

import {
  AppRegistry,
  StyleSheet,
  Text,
  TouchableOpacity,
  Linking,
} from 'react-native';

import QRCodeScanner from 'react-native-qrcode-scanner';

class ScanScreen extends Component {
  onSuccess(e) {
    Linking
      .openURL(e.data)
      .catch(err => console.error('An error occured', err));
  }

  render() {
    return (
      <QRCodeScan

[2018-06-07 11:46] harikanammi opened #110 "Camera is not responding"
Hi, I am using this module........ Camera is not responding for Android and iOS.
here is my screenshot:
![screen shot 2018-06-07 at 5 38 03 pm](https://user-images.githubusercontent.com/31063894/41098608-9a1a7094-6a79-11e8-83c3-c469ce581dda.png)

[2018-06-08 11:48] ParveenChhillar commented on #94
Hi I solve this issue:
update the code in Android/App/Build.gradle

// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
        google()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'

        // NOTE: Do not place your application dependencies here; they belong

[2018-06-11 20:16] jneuendorf commented on #10
This works for me on (at least) iOS. Should this be contained in the README (maybe there should be a FAQ section)?

[2018-06-13 15:19] kirtishjain opened #111 "how to set bottomViewStyle"
Unable to resize bottomContent upon rotation width wise.

### What's happening?
I'm setting a Text component at bottom of View and need to resize it upon rotation of device width wise in 'bottonContent' props.

if I set bottomViewStyle props then it won't get resize upon rotation of device width wise.

Please help me out. It's little bit urgent.

Thanks a lot in advance.

### How can it be reprodu

[2018-06-14 07:36] kirtishjain commented on #111
Is there any body who can help me to get rid off my issue??

Thanks

[2018-06-15 15:37] cristianonescu commented on #105
I had the same issue. You might say that this guy sounds dumb, but I followed him and it worked :))
https://github.com/moaazsidat/react-native-qrcode-scanner/issues/94#issuecomment-395737055

[2018-06-17 03:07] tedwong commented on #93
u need to call `customMarker` to let the marker draw.

[2018-06-22 07:33] alexbadm commented on #109
The same problem.
I did not insert QRCodeScanner component to JSX but just import them and it throws the error:
`undefined is not an object (evaluating 'CameraManager.Aspect')`

Android emulator and Android device.

[2018-06-26 08:05] zMathieu commented on #109
Same problem when trying the sample code in README (I'm using expo with and Android 8.1 device to run the application), I got this error :
`undefined is not an object (evaluating 'CameraManager.Aspect')`

Can anyone help us to solve this ? Thanks !

[2018-06-27 18:05] abdollahpour commented on #109
Same problem, I'm just trying to run the sample on README

[2018-06-29 07:22] Amalp opened #114 "Border style is not getting applied to camera ? why ?"
I am trying to make the whole container transparent and just apply a border to camera view, but the **style property border is not getting applied in cameraStyle**, but works in containerStyle,topContent,bottomContent.

**Can some one give me a clear explanation on how to do this ?**

[code]

[2018-06-30 06:10] alz10 opened #115 "Custom Qr Code Scanner"
I just wanna share my custom Qr Code Scanner with scanBar that animates up and down

![screenshot_2018-06-30-13-47-32-453_com qrcodeattendance](https://user-images.githubusercontent.com/38030623/42122011-ca8d8f04-7bef-11e8-91a5-d8d44b26cf40.png)

### You need to install this first (Google them because their installation requires linking)
[code]

### Just change the color, size of the following dep

[2018-06-30 12:23] alz10 opened #116 "Qr Scanner in TabNavigation"
Hello, how can i open the camera again after i click on the other navigationTab. It became black after i go back to QrScanner Tab. Im using `react-navigation` v2

![untitled-1](https://user-images.githubusercontent.com/38030623/42125143-a75fb292-7c25-11e8-9556-e91b942a292e.png)

[2018-07-01 07:18] MSharifi78 commented on #109
I had the same problem on Android, so I bundle it again and run it with `react-native run-android`
then I face to this issue `Could not find method compileOnly()` that is related to [https://github.com/react-native-community/react-native-camera/issues/1490](url)
finally, it's fix :)
sorry for my terrible English

[2018-07-02 08:02] netProgrammer commented on #109
Same problem when trying the sample code in README (Android 8.1)

[2018-07-05 09:39] SeamusY commented on #116
You may want to consider ComponentDidmount and WillUnmount, see if that changes anything.

[2018-07-05 10:06] liguanhan opened #117 "Please provide flash function"
happening:
Please add the flash function, it is too dark at night.Thank!

 Build details:
"react-native": "0.55.3",
"react-native-camera": "^1.1.4",
"react-native-qrcode-scanner": "^1.0.1",
2018/7/5

[2018-07-07 00:32] gsusalvarado commented on #104
Hi, I have many problems to implement it, where you have to replace that or any line. Thanks

[2018-07-07 16:49] taboca commented on #92
This issue relates to the dependency project entitled "react-native-camera". The issue was also filed within that project:

https://github.com/react-native-community/react-native-camera/issues/1530#issuecomment-385752864

[2018-07-09 20:06] lfiorini opened #118 "iPad doesn’t show header and footer just the fullscreen preview."
I’ve added universal support to my apps and I found that it reads the barcode, but there is no header or footer. Is it expected?

iPad Air 2, iOS 11.4, latest qrcode-scanner version, RN 0.55.4.

[2018-07-12 09:04] jiangdi0924 commented on #115
it's awsome!!!

[2018-07-17 07:52] ajiehatajie commented on #116
same here in tabs navigations if i back to menu tabs camera is blank screen

[2018-07-17 08:14] Albert0405 commented on #116
@ajiehatajie  i fix it, https://github.com/react-native-community/react-native-camera/issues/1671#event-1709976014

[2018-07-17 08:58] ajiehatajie commented on #116
@Albert0405 can i see your code for fix it

[2018-07-17 10:13] Albert0405 commented on #116
`import { withNavigationFocus } from "react-navigation";`

[code]

[code]

[2018-07-17 11:11] ajiehatajie commented on #116
@Albert0405 thank you sir is work fine.

[2018-07-22 04:08] Albert0405 commented on #117
Here's a fix for that:

1. Go to `node_modules` and find `react-native-qrcode-scanner` folder and open `index.js`
2. find `_renderCamera()` and then on the `Camera` component, put this
[code]

if the above code doesn't makes sense to you, you can copy paste this code and replace the `_renderCamera()`
[code]
===================================================================

3. last step is to you

[2018-07-24 08:37] ajiehatajie opened #120 "Os 5.1 lolipop camera is blank"
### What's happening?

camera in lolipop is blank, if install os 7 higher is normal
can  you help me ?

[2018-07-24 10:06] Gold3nFox commented on #120
same problem on android 7 on genymotion it works fine but on my lg g3 phone android which is android 5 it shows upper and bottom content but doesnt show camera preview (checked permission it has permission for using camera).

[2018-07-26 02:46] aoarashi1988 opened #121 "Can I scan the QRCode from a picture instead of from camera?"
Same with title
### What's happening?

I didn't find any APIs of that, did I miss something or  this module doesn't support ?
### How can it be reproduced?

### Build details?

[2018-07-27 08:40] liguanhan commented on #117
@Albert0405 Thank you. I'll try,It helps me a lot!

[2018-07-29 15:17] ybintian commented on #96
"react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-camera": "^1.1.4",
    "react-native-qrcode-scanner": "^1.0.1"

[2018-07-30 18:08] axschlamp commented on #109
Manually linking the react-native-camera lib resolved this issue for me. @ParveenChhillar Take a look under Manual Install iOS step two through five.

https://github.com/react-native-community/react-native-camera#ios

[2018-07-31 05:52] JakeRawr commented on #85
I just had to upgrade to v1.0.3 from v1.0.1. That'll solve it

[2018-07-31 09:08] karthick-t2s commented on #85
@JakeRawr How did you upgrade to V1.0.3? I'm facing this issue when i tried doing the same.

[2018-07-31 09:29] JakeRawr commented on #85
@karthick-t2s Hey sorry for misleading you. I updated React Native camera from v1.0.1 to v1.0.3. Not react native qr scanner. I’ll update my solution as well. Hope that helps you.

[2018-07-31 09:54] karthick-t2s commented on #85
@JakeRawr that's fine. I'm using react native camera V1.1.4 and the scanning takes too long and sometimes it won't scan at all.

[2018-08-01 10:26] SeanChenU opened #122 "Scanner view doesn't show up when setting `fadeIn` property to `true` on Android"
### What's happening?

The scanning previewer doesn't show up on Android 6.0. But after I set the `fadeIn` property to `false`, it showed up again.

### Build details?

1. Using Android 6.0
2.
[code]

[2018-08-03 09:49] giorgosioak opened #123 "Feature Request: Camera Timeout"
Could you implement a camera timeout with a message "Tap to activate camera".

Could be:
[code]

[2018-08-07 13:00] handoff commented on #120
I am experiencing the same problem on Android 5.1. If I add the property
`fadeIn={false}`
then the camera display shows the text "Camera not authorized".

[2018-08-07 13:14] handoff commented on #122
I am experiencing a similar problem on Android 5.1. The scanning previewer doesn't show up. If I add the property
`fadeIn={false}`
then the camera display shows the text **Camera not authorized**.

[2018-08-08 07:39] daniel031699 opened #124 "Can't Link"
Can't Link

### What's happening?
i use link command,but there was no response

$ react-native link react-native-qrcode-scanner
Scanning folders for symlinks in E:\workspace\AndroidWorkspace\Demo\node_modules (78ms)

### Build details?

android 5.1  "react-native-qrcode-scanner": "^1.0.1",

[2018-08-13 08:51] odelavia commented on #124
I am also getting the same error on IOS. I'm able to link and use the component on android no problem. After I attempt to link on IOS, I get a response telling me my assets have been linked to my IOS and Android project but nothing on my react-native-qrcode-scanner. I was able to previously link and get the component to work a month ago but I needed to do a fresh install because of some corrupted

[2018-08-15 22:48] moaazsidat commented on #124
Re: iOS
Hey folks, I just tried a fresh clone of the demo project I use to test react-native-qrcode-scanner, and it seems to be working fine.
Demo project: https://github.com/moaazsidat/react-native-qrcode-scanner-demo

For iOS, I would recommend making sure installation and setup is followed precisely, in particular, the migration bit for react-native-camera as outlined here is important:
https:/

[2018-08-15 22:49] moaazsidat commented on #124
@daniel-andersen Re: Android, it's possible that `react-native link` is no longer required because of the upgrade to react-native-camera a few months ago. is there an error being shown when you try to use the module in your project

[2018-08-15 23:04] moaazsidat commented on #123
Please see: https://github.com/moaazsidat/react-native-qrcode-scanner#reactivatetimeout for basic usage.

Accepting pull requests implementing the proposed functionality.

[2018-08-15 23:05] moaazsidat commented on #121
That's not something this module currently supports, will accept PRs implementing that functionality, thanks!

[2018-08-15 23:06] moaazsidat commented on #118
@lfiorini I have not been able to test this out on an iPad, it may just be a styling issue?

[2018-08-15 23:08] moaazsidat commented on #116
@Albert0405 thanks for resolving this, do you think this is a good candidate to add in the examples?

[2018-08-15 23:09] moaazsidat commented on #115
@Albert0405 this is awesome! we should definitely add this as part of the examples!

[2018-08-15 23:11] moaazsidat commented on #110
closing this due to lack of activity

[2018-08-15 23:11] #110 closed

[2018-08-15 23:12] moaazsidat commented on #92
closing this as it seems like it was fixed, please reopen if still an issue

[2018-08-15 23:12] #92 closed

[2018-08-15 23:13] moaazsidat commented on #93
@szejing547 going to close this since the above lacks details of the implementation, you need to set `showMarker` to `true` and pass an element to `customMarker` prop to render the marker.

please reopen if the issue still persists.

[2018-08-15 23:13] #93 closed

[2018-08-15 23:14] #102 closed

[2018-08-15 23:16] moaazsidat commented on #96
please provide a link to a codebase/repo to reproduce this, going to close this for now, please feel free to reopen with further details

[2018-08-15 23:16] #96 closed

[2018-08-15 23:18] moaazsidat commented on #109
yep, make sure to follow installation instructions around linking carefully. going to mark this as resolved, please feel free to reopen if still an issue.

[2018-08-15 23:18] #109 closed

[2018-08-15 23:25] odelavia commented on #124
@moaazsidat I've tried following the installation instructions exactly for your library as well as that of `react-native-camera` and still can't link to `react-native-qrcode-scanner`. As a result of not being able to link to the library I get a `TypeError: Cannot read propery "bindings" of null` error. I've looked through the libraries available in xcode as well and the `react-native-qrcode-scanne

[2018-08-16 09:17] asantos00 commented on #117
https://github.com/moaazsidat/react-native-qrcode-scanner/pull/112 already being done by someone here :)

[2018-08-16 13:11] #106 closed

[2018-08-17 08:54] Albert0405 commented on #116
@moaazsidat I think so, this is the only way i see to fix this problem because each tab in according to react-navigation devs, they dont re-render themselves when switching tabs.

[2018-08-22 09:56] swaroopa94 opened #127 "black screeen in android"
### What's happening?
Hi,
I installed this module and linked the modules as given in description but I am getting a black screen in android the camera is not opening up.

### Build details?
android version 7.1.1
react-native-qrcode-scanner - ^1.0.1
react-native-camera - ^1.1.4

Here are my build.gradle

`buildscript {
    repositories {
         google()
          maven { url "https://maven.google

[2018-08-23 07:48] trubi opened #128 "Barcode doesn't scan on front camera"
Hello,

when trying to scan barcode from front camera, it doesn't work. Barcode scanning seems to work only on back camera. QR codes are scanning fine on both cameras.

[code]

Versions:

"react-native-camera": "1.2.0",
"react-native-qrcode-scanner": "1.0.1",
"react-native": "0.51.0",
"react": "16.2.0",
iOS version tried: 11.4.1, but happens on multiple iPads here in office with different versions

[2018-08-24 05:36] zkrige opened #129 "NSLocationAlwaysUsageDescription issue due to dependencies"
### What's happening?
When submitting to app store, I am getting a NSLocationAlwaysUsageDescription error. This is because this package relies on react-native-permissions, which covers ALL permissions.

### How can it be reproduced?
n/a

### Build details?
seeing this in 1.0.1

My suggestion would be to either build a camera-permissions only package and depend on that, OR handle camera permissions

[2018-08-24 08:26] hoanghaihuy opened #130 "Scan code which contains embed images or logo"
How can I scan a code which has a image inside of the QR code?

For example:
![image](https://user-images.githubusercontent.com/23524337/44573831-e81c0300-a7b1-11e8-8514-c8e5c05c2724.png)

[2018-08-28 07:29] matoxxx commented on #96
I've same error:

    "react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-camera": "^1.2.0",
    "react-native-qrcode-scanner": "^1.0.1"

Link to my repository for reproduce: https://github.com/matoxxx/react-native-qrcode-scanner-error

[2018-08-31 07:37] thaibom95 commented on #94
You should open folder android on Android Studio then you only click upgrade build.gradle in log, It auto fix. I also tried

[2018-09-01 16:06] hiepnm commented on #120
The same issue with Android 5.1.1, real device Samsung T285
But when I change device to emulator android 7.0 (Nexus 5x API 24) it's ok.
Pls fix this bug.

[2018-09-02 21:36] simonarcher commented on #124
Im not 100% sure how all this linking stuff works, but could it be because the `react-native-qrcode-scanner` package does not include the Xcode project in the source? I see the demo project mentioned above does have it.

I attempted to try manually link the library, but as such I couldn't find it after running the `yarn add react-native-qrcode-scanner` command in my project

[2018-09-05 16:11] gie3d commented on #123
I would like to work on this and will try to submit PR soon.

[2018-09-05 22:00] anton6 commented on #94
Managed to resolve this from @gornostal comment. This issue should probably be closed since it's not related to this module?

[2018-09-07 05:36] Transfusion commented on #130
That QR code scans fine for me on a Huawei RNE-L22 (nova 2i) running 7.0 and a Xiaomi Mi 6 running 8.0.0, added `"react-native-camera": "^1.2.0"` to dependencies with RN 0.55.4.

`{"bounds":[{"y":"682.5","x":"838.5"},{"y":"690.0","x":"465.0"},{"y":"291.0","x":"469.5"},{"y":"364.0","x":"796.75"}],"type":"QR_CODE","data":"http://1qr.fr/whb0","target":864}"`

[2018-09-14 18:08] nfacha commented on #122
I have the same issue as @handoff

[2018-09-14 18:43] KimGames commented on #86
@WinterHuang3 can I see yours RoundCheckScannerStyles.QRCodeScanner?? I'm having problems to make a simple squad on center of the camera.

[2018-09-17 13:34] zkrige opened #133 "Autofocus"
Can you please describe how to enable autofocus on qrscanner?

[2018-09-18 08:48] onusgit opened #134 "Change Height And Width not work ."
I have only small size of scanner camera . but I am not able to change this .

[2018-09-18 14:47] pkyeck commented on #134
I also have the problem that on Android (v8 / Pixel 1) the camera can't be square anymore. I didn't change anything and suddenly it's rectangular and not square anymore. Even setting width + height to e.g. 100 won't result in a square. Anyone else having this problem?

BTW, iOS works as expected

[2018-09-18 16:07] kevintran1402 commented on #134
i have a specified width + height for camera scanner but when active & dragging camera from outside of my laptop display screen but it’s still can read qr code even qr code is out side of camera and scan area..it’s really weird!!

camera scan area:
height: 30% of dimension.height
width: 25% of dimension.width

**I think the scan area always full instead limited by my specified height.
any help or

[2018-09-18 17:00] ThadeuBrito opened #135 "era black"
### What's happening?

### How can it be reproduced?

### Build details?

[2018-09-18 17:01] #135 closed

[2018-09-18 17:28] fallerd commented on #96
I was able to find this page which described a few solutions: https://github.com/facebook/react-native/issues/16332

I was able to solve this by changing this line:
`class ScanScreen extends Component {`
to this:
`export default class ScanScreen extends Component {`

[2018-09-19 03:38] #134 closed

[2018-09-19 08:39] pkyeck commented on #134
@onusgit why did you close this? seems like a lot of people are having issues with resizing the camera-component

[2018-09-19 13:58] nadzic opened #136 "How to proper deactivate scanning if you are using react-navigation and go to next screen"
### What's happening?
I would like to know the most proper way how to deactivate qr scanner if you go to next screen with react navigation

- I tried with additional variable {qrScannerEnabled && <QRCode.. />}, that has performance issues - I just want enable/disable scanner, not always rerender the whole scanner.

- I tried to set reactivate={qrScannerEnabled}, so to disable it when go to next sc

[2018-09-20 13:49] pkyeck commented on #136
I'm using react-navigation's NavigationEvents:

[code]

But this is also rerendering on every page-switch. If you find a better solution, let me know.

[2018-09-21 07:07] jituumaria commented on #78
why support fullscreen android and ios both ?..

[2018-09-21 16:10] betoharres commented on #129
Looking at the code it seems like the author invoked only the camera permission from that package. Does your app uses GPS? Maybe you're mixing the problems.

PS: I just downloaded the lib and was looking about the issues in this repo, don't take my word for experience with this lib, I'm just trying to help :D

[2018-09-21 21:33] hecontreraso commented on #134
Same error here

[2018-09-25 00:09] passabilities commented on #124
As @simonarcher has pointed out, the problem is because there is no `.xcodeproj` file in the package.

[2018-09-25 09:52] zkrige commented on #133
i'm doing this, but it seems to have no effect on autofocus or flash

[code]

[2018-09-26 03:00] guizmo opened #137 "Androidpermissions"
Just to let you know, the latest React Native Permissions (since @1.0.0) uses React Native's own JS PermissionsAndroid module on Android.

[2018-09-30 23:14] jorgeluisrezende opened #139 "How to scan a qr code with negative colors?"
I have some qr code that are printed in negative colors, the white part is the code part, but this scaner is not finding it, there is a way to scan it?

[2018-10-01 15:35] jorgeluisrezende commented on #139
@matthewconstantine @fgiobergia @PichuChen @alexbowers

Can anyone help me with this, i think it is simple...

[2018-10-03 13:41] imvv commented on #65
I'm struggling with this too, added height and width to cameraStyle but it seems to do nothing, it's still overly large and covering other content outside of the view it's in.

[2018-10-04 17:56] rogerkerse opened #140 "disable vibration"
Is it possible to disable vibration? I have "reactivate" on, because I want it to constantly scan, but it is very annoying when it constantly buzzes when pointed at the same code

[2018-10-04 19:51] rogerkerse opened #141 "CPU over 100%"
Just by adding qr scanner to a view (permission previously granted) makes the ios simulator CPU go to around 140+% and it never drops below it and basically if keeping the view opened for a half a minute, the app becomes very unresponsive and difficult to reload.

[2018-10-08 13:33] Bartlebyy commented on #45
I had the same problem. The camera component would not unmount when I switched between tabs. So I took advantage of the `componentDidMount` and added two listeners `willFocus` and `willBlur` and now it works.
[code]

[2018-10-11 03:37] cavernyu opened #143 "Chinese messy code"
### What's happening?
Chinese messy code

### How can it be reproduced?
scan qrcode which contains Chinese characters

[2018-10-11 08:43] cavernyu commented on #143
i have found answer myself. tks
1.find 'react-native-camera' module
2.android: find class: 'org.reactnative.camera.events.BarCodeReadEvent'  -> method: 'private WritableMap serializeEventData()' ->modify  event.putString("data", mBarCode.getText()) /  event.putString("data", new String(mBarCode.getText().getBytes("ISO-8859-1"),"GBK"));
3.iOS: find iOS->RN->RNCamera.m  : - (void)captureOutput:(AVCa

[2018-10-11 08:43] #143 closed

[2018-10-11 21:34] liljosi opened #144 "Resize camera view"
### What's happening?

How can you make the camera view smaller, it takes up the whole screen and it renders it horizontally
### How can it be reproduced?

You can reproduce it by copying the example in the readme
### Build details?

[2018-10-16 11:55] ahsan-storm opened #145 "Android focus on tap not working"
I'm not able to focus picture on tap. I've tried everything mentioned in docs, still not able to run it. My device is Galaxy Tab A.Help needed

[2018-10-16 13:55] tannera commented on #134
This library is now broken on Android with react-native-camera": "^1.3.0?

The Camera size overlaps the TopContent and BottomContent.

[2018-10-17 07:42] tannera commented on #144
Maybe related to: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/134

[2018-10-17 15:18] vedovato opened #146 "How to contribute"
I'd like to fix #79. How can i contribute?
I'm not being able to modify the package code.

Everytime i save the index.js file inside my node_modules/react-native-qrcode-scanner/, my modifications won't load up. Honestly i could only add console.warns in it and even if i change any string, it won't upgrade on project.

Also, tried to reference in package.json as cloned module from local filesystem

[2018-10-19 09:16] resting opened #147 "Suggest to have a props for camera container."
Trying to style camera with `flex:5` and the bottomView with `flex:1` but there's no way to do it now.
We can have a `cameraContainer` props for that purpose.

[2018-10-22 08:30] matoxxx commented on #134
I'm having same problems with package `"react-native-camera": "^1.3.0"`.

Any solution?

[2018-10-22 15:39] suretarget commented on #140
`vibrate={false}`

[2018-10-22 15:48] moaazsidat commented on #129
Accepting PRs to fix this issue :)

[2018-10-22 15:49] moaazsidat commented on #130
@hoanghaihuy is this still an issue?

[2018-10-22 15:51] moaazsidat commented on #139
hmm, is there anything that `react-native-camera` does especially to recognize these images?

[2018-10-22 15:52] moaazsidat commented on #140
marking this as resolved, please reopen if this is still outstanding

[2018-10-22 15:52] #140 closed

[2018-10-22 15:56] moaazsidat commented on #146
@vedovato thanks for reaching out.

To contribute and test your changes.
1. Clone https://github.com/moaazsidat/react-native-qrcode-scanner
2. Make changes
3.

[2018-10-22 15:56] #146 closed

[2018-10-22 16:01] moaazsidat commented on #147
Sure thing, accepting PRs implementing this.

[2018-10-22 16:02] moaazsidat commented on #137
@guizmo What are the implications of that to this library? Do we need to upgrade anything on our end? Thanks!

[2018-10-22 16:10] moaazsidat commented on #146
I've also just added a contribution guide: https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/CONTRIBUTION.md

[2018-10-22 19:18] guizmo commented on #137
You just need to be using the version including the changes and you’ll be fine

[2018-10-27 06:40] anil-kumar-singh commented on #134
I am having same problem, any solution please?

[2018-10-27 06:55] anil-kumar-singh commented on #134
I have given some style to top and bottom view to manage this

[code]

[2018-10-31 10:06] #130 closed

[2018-11-03 05:05] danhnguyeen commented on #116
Hope it help
[code]

[2018-11-15 04:22] huytran123 opened #149 "Change Size Preview Camera"
![image](https://user-images.githubusercontent.com/24526707/48530004-5f03fc00-e8c8-11e8-846a-ccce929758be.png)

I want to change preview size camera like that. But i set width and height Camera and View contain Camera view. They are not working well,

Please help me how to change them

Thanks
HuyTran

[2018-11-20 00:52] BadMaker commented on #84
I get the same result scanning barcode while oriented in landscape

[2018-11-22 09:10] harrischelsea commented on #124
You have to link it manually.
Right click on Libraries and then:
1 "Add files to ..."
2 node_modules -> react-native-camera (react-native-permissions) -> ios -> .xcodeproj (for both libraries)
3 Then Build Settings -> Link Binary With Libraries -> Add **libReactNativePermissions.a**  and  **libRNCamera.a**
4 Build Settings -> Header Search Path -> Add **$(SRCROOT)/../node_modules/react-native-came

[2018-11-22 10:03] harrischelsea commented on #73
I solved problem. Try to remove other xml tags.

Try only this.
For example:
[code]

[2018-11-28 04:02] BadMaker opened #150 "scanning angle about barcode scanning"
it's difficult to read barcode while scanning ,you need make a special angle to scan

### What's happening?

it's difficult to read barcode while scanning ,you need make a special angle to scan

### How can it be reproduced?

### Build details?

[2018-11-28 04:06] BadMaker commented on #150
似乎需要在特定的角度内才能扫描到，该角度与条码所在平面几乎平行，并且可调动范围非常窄

[2018-11-29 17:00] moaazsidat commented on #150
I would consider this a problem of the underlying camera API.

[2018-11-30 07:45] BadMaker commented on #150
well,Thank you sir,Thank you very much.

[2018-11-30 07:45] #150 closed

[2018-12-05 02:52] ManigandanRaamanathan commented on #35
@moaazsidat for android how to check if the permission was accepted or denied? If denied then I would like perform other functions like closing the screen..."

[2018-12-05 08:15] smrd1377 commented on #115
Amazing 💃 it work correctly ... i love it
tnq very much 💯

[2018-12-07 13:52] gokujy commented on #94
I am getting the same error:
Could not find method google() for arguments [] on repository container
Solve: I'm working on firebase crud and i installed angularfire2 and firebase plugin both.
So i uninstall firebase and error solved, i mean this error coming because conflict.

[2018-12-10 22:14] lavawaters commented on #107
Hello,
I am having the exact same issue.  I believe the camera is crashing after about 50 scans or 2 minutes.  The app doesn't close but it just locks like it expects the camera to send it data and the camera isn't showing up.  Xcode shows no error and everything appears fine.  I'm using AVFoundation to do my QR scanning.  Is this the same for you and have you found a workaround?

[2018-12-14 21:03] alexfigtree commented on #45
Helpful link for reference: https://github.com/Bartlebyy/Ariadnes-Thread/blob/master/screens/AddMazeScreen.js

[2018-12-16 00:42] mattruddy opened #151 "Is there anyway to have it only scan certain qr code types. such as pdf417?"
### What's happening?

### How can it be reproduced?

### Build details?

[2018-12-16 01:55] mattruddy commented on #12
Any updates on this bug? Mine is consistently crashing every few scans. (Love the project btw)

[2018-12-18 15:48] cerberusv2px commented on #149
Yes it takes up the whole screen. how to fix this?

[2018-12-18 15:56] cerberusv2px commented on #149
Do something like this:

[code]

[2018-12-19 01:59] mattruddy commented on #107
Same issue, have either of you found a work around for it?

[2018-12-25 09:24] CFdong opened #154 "I can't change the height. It doesn't matter though I set height 100(for example)"
It happens in android. IOS works well.

[2018-12-31 16:02] mohammedsaadat opened #155 "Is it possible to scan more than one barcode at a time?"
Basically, I was to check if it possible to obtain the data on two barcodes in the camera field of view?

[2019-01-01 00:00] richoid opened #156 "Getting Error: TypeError: undefined is not an object (evaluating 'PermissionsIOS.requestPermission')"
I'm getting the above error from the iOS Simulator and VSCode is saying "Could not find a declaration file for module 'react-native-qrcode-scanner'. '/Users/richoid/Code/PWR/PWR-V-RN/pwr-v-rn/node_modules/react-native-qrcode-scanner/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-native-qrcode-scanner` if it exists or add a new declaration (.d.ts) file containing `declare m

[2019-01-03 08:20] dqhung311 commented on #156
Add this modules to Libraries in Xcode

<img width="500" alt="screen shot 2019-01-03 at 15 18 21" src="https://user-images.githubusercontent.com/26315867/50628476-db32cb80-0f6a-11e9-9a5e-510d7cc8265e.png">

<img width="542" alt="screen shot 2019-01-03 at 15 20 03" src="https://user-images.githubusercontent.com/26315867/50628550-1a611c80-0f6b-11e9-94a1-5e0f098e2e98.png">

[2019-01-04 22:06] porzioj commented on #149
Hi guys,
I there any way to have the camera's preview screen to fit width of main container ?
Thanks

[2019-01-05 10:38] cerberusv2px commented on #149
Isn't it by default?

[2019-01-05 15:56] porzioj commented on #149
With the following code I expect my preview to fit screen's width size by default

`<QRCodeScanner
        containerStyle={{ borderColor: 'red', borderWidth: 5 }}
        cameraStyle={{ borderColor: 'green', borderWidth: 5 }}
      />`

But I don't even see the border color...

<img width="309" alt="screenshot 2019-01-05 at 12 52 42" src="https://user-images.githubusercontent.com/10049383/50726226

[2019-01-06 04:42] YHYbetterlife opened #157 "Is it possible to only scan a small area within the camera view"
### What's happening?

### How can it be reproduced?

### Build details?

[2019-01-06 13:49] mattruddy commented on #107
Is there any way you could show a code sample for reference?

On Fri, Jan 4, 2019 at 10:27 PM lavawaters <notifications@github.com> wrote:

[2019-01-08 15:38] shgitns commented on #79
I'm not sure it's still relevant but you can change the notAuthorizedView prop of the camera:
` <QRCodeScanner cameraProps={{ notAuthorizedView: <View><Text>Not authorized</Text></View> }} />`

[2019-01-08 18:34] trialsNow commented on #154
Same for me as well.. I tried overriding camerastyle as well, doesnt work in android. Works perfectly in iOS

[2019-01-09 07:05] swathyashokan commented on #79
i am having the same problem

[2019-01-09 14:06] AntoineHabert commented on #122
Did you guys find a fix or a workaround? @nfacha @handoff

[2019-01-09 14:49] Sassar88 opened #158 "setState Warning after successfully scanning and link to a other page"
When I use the scanner component and will scan successfully a qrCode and change the Navigation, than i got a warning of no-op setState after unmount the component.

I have check the code of the qrCode Scanner and have found that after the onRead-Property will be set a zero timeout that change the state. This will be trigger the warning. Its important that after onRead the timeout put it in a varia

[2019-01-10 09:55] hamrosh opened #160 "Getting Camera not Authorized Message"
I am getting allow camera permission message, after allowing it is just showing "Camera not authorized " message, can you help me resolve this?

[2019-01-10 10:07] cstranex commented on #160
Set the camera props: `cameraProps={{captureAudio: false}} `

[2019-01-10 10:21] hamrosh commented on #160
export default class App extends Component {
  render() {
    return <QRScanner cameraProps={{ captureAudio: false }} />;
  }
}

still showing the same message

[2019-01-10 10:48] GaneshSaiKumar commented on #160
yes, even i'm getting the same issue

[2019-01-10 11:33] hamrosh commented on #160
Thank you very much for your solution,, now i can see the camera and it is scanning the qr codes and i am getting the cotent from qr code. we have to user reactivate() function to enable scanning again ??

[2019-01-10 12:01] GaneshSaiKumar commented on #160
working fine TQ

[2019-01-10 13:07] GaneshSaiKumar opened #161 "Black screen after scanning a qr code"
@moaazsidat  @mamodom @mjgallag
### What's happening?
after scanning a qr code successfully, I'm redirecting to other screen.
when i come back to qr code scanning screen, cam is blacked out.

### How can it be reproduced?
add a qr code scanner screen and other screen in a tab nav bar

### Build details?
version: react-native-qrcode-scanner - 1.1.2
android: 7.0
react-native: 57

[2019-01-10 16:09] bgold0 opened #162 "Scanner crashes the app"
### What's happening?
When I go to the QR Scanner application, the scanner crashes the application and the following error comes up in my Xcode: `libsystem_kernel.dylib`__abort_with_payload:`

This happens AFTER I give it permission to use the camera. ( I have a NSCameraUsageDescription)

![](https://i.imgur.com/q6VmEYC.png)

### Build details?
[code]

[2019-01-10 16:12] bgold0 commented on #162
I fixed this by adding the following. I do not plan on using microphone or camera roll but it had to be there or it crashed.

[code]

[2019-01-10 18:33] GaneshSaiKumar commented on #161
I think it is issue from RNcamera itself!

[2019-01-10 19:14] GaneshSaiKumar commented on #161
https://github.com/react-native-community/react-native-camera/issues/1686#issuecomment-427839839

` componentDidMount() {
    const { navigation } = this.props;
    navigation.addListener('willFocus', () =>
      this.setState({ focusedScreen: true })
    );
    navigation.addListener('willBlur', () =>
      this.setState({ focusedScreen: false })
    );
  }

  render() {
    const { hasCameraPerm

[2019-01-11 06:33] GaneshSaiKumar opened #163 "start preview failed"
### What's happening?
whenever i try to open camera, I'm getting start preview failed error

[code]

[2019-01-11 09:05] GaneshSaiKumar commented on #73
@moaazsidat  still facing this issue

[2019-01-11 10:39] GaneshSaiKumar commented on #160
but blank cam is opeing not able to see any think, .
@hamrosh
can you list your dependencies
tq in advance

[2019-01-11 10:54] GaneshSaiKumar commented on #161
initial screen itself is freezing with blank black screen instead of camera interface
@moaazsidat @matthewconstantine

[2019-01-11 10:56] GaneshSaiKumar commented on #163
this is due to permissions config in androidmanifest.xml

[2019-01-11 10:56] #163 closed

[2019-01-11 14:49] MRDjeko commented on #134
How did you solve it?

[2019-01-12 02:32] GaneshSaiKumar opened #165 "slow rendering of camera"
### What's happening?
camera is taking time(2sec) to render, But it's still scanning qr-code in the backend

### Build details?
os: 'android'
react-naive-qrcode-scanner: 1.1.2
react-native-camera: 1.8.0
react-navigation: 2.6.6

[2019-01-14 15:57] ducbka02 commented on #134
Just add props "ratio='1:1'" to cameraProps

[2019-01-14 16:00] ducbka02 commented on #144
See comment in https://github.com/moaazsidat/react-native-qrcode-scanner/issues/134#issuecomment-454055952

[2019-01-15 06:43] dramalcolm commented on #115
nice, i like it

[2019-01-15 13:51] beyns commented on #160
<QRCodeScanner
        onRead={this.onSuccess.bind(this)}
        cameraProps={{ captureAudio: false }}
        topContent={.........

i set the cameraProps = captureAudio:false but 'camera not found' still showing up

[2019-01-15 15:44] MRDjeko commented on #134
Thanks! It kinda works, but I end up with distorted preview. It basically scales 4:3 feed to fit into 1:1 container, so the feed ends up stretched. In older versions (well, in my case upgrading to a newer version of react native broke it) it worked fine, without stretching the preview.

[2019-01-16 04:57] hzburki commented on #165
I have the same issue. Any solution yet ?

[2019-01-16 18:31] cyannuro commented on #134
it works, using cameraProps={{ ratio:'1:1' }} ;)

[2019-01-17 10:46] mohammad1374 commented on #165
same issue

[2019-01-17 10:51] mohammad1374 commented on #151
you should handle that by onread prop

[2019-01-17 10:51] mohammad1374 commented on #145
same issue

[2019-01-17 13:30] mattruddy commented on #151
Yes, was able to get it to work. Thanks!

[2019-01-17 13:30] #151 closed

[2019-01-17 17:50] fsalata commented on #162
I've just rolled back to version 1.6.3. I don't want to ask for microphone permission to scan a QRCode...

[2019-01-17 19:43] handoff opened #166 "Must give NSMicrophoneUsageDescription"
### What's happening?

Just upgraded the package, and now the app crashes with log text

`This app has crashed because it attempted to access privacy-sensitive data without a usage description.  The app's Info.plist must contain an NSMicrophoneUsageDescription key with a string value explaining to the user how the app uses this data.`

Howcome the scanner needs the microphone? I think many users w

[2019-01-18 20:43] jinchung commented on #162
Looks like react-native-camera just published an update 6 hours ago, version 1.9.0 should make it work now.

[2019-01-23 02:10] Caleb-Tan opened #167 "onPress being called when QRCode is scanned"
I have an issue where I have a touchable opacity in my bottomContent, and I have a method that is being invoked when I press a button. I only want this method to be invoked when I press the button, but it is being called every time I scan a qrcode, as well as when the app is first rendered.

In bottomContent:
[code]
_uploadData() is the method being called constantly. The touchable opacity is the

[2019-01-23 04:56] krisnailafat commented on #160
im using android version 5.1
still got this message Camera not Authorized

I tried this still dont work

and this dont work either

    if (Platform.OS === 'android' && Platform.Version < 23) {
      checkAndroidPermission = false
    }

    <QRCodeScanner
          ...
          checkAndroid6Permissions={checkAndroidPermission}
          ...
     />

[2019-01-23 11:33] afilp commented on #166
@jinchung
We have the same problem. Can you please use the solution provided below, as there is no reason for a qr code scanner to trigger the microphone permissions?

`Instead of checkDeviceAuthorizationStatus have you tried checkVideoAuthorizationStatus? This seems to prompt for just the Camera Access and not the microphone.`

Source:
https://github.com/react-native-community/react-native-camera

[2019-01-24 04:10] ice16 opened #169 "Camera problem"
I have follow the code given at here https://github.com/moaazsidat/react-native-qrcode-scanner
but my output is like this
![result](https://user-images.githubusercontent.com/35761119/51653781-e4deaa80-1fcf-11e9-9a1d-e48cf7b913c1.jpg)

How can I solve it?

[2019-01-25 07:54] #169 closed

[2019-01-26 16:40] Vanclief opened #170 "Android Debug Mode: Can't read QR code"
On android and while on debug mode, qr codes will not be recognized so the `onRead` function will not be triggered.

### What's happening?
Sometimes the package on android debug mode works perfectly, sometimes it does not scan any qr code at all.

### How can it be reproduced?
1. Start react native project (No expo)
2. Add `react-native-qrcode-scanner` to a view
3. Go to https://en.wikipedia.org/w

[2019-01-26 17:50] glevymayo commented on #170
Same to me. It works only the first time I launch the app. I'm using Genymotion.

[2019-01-26 23:08] Vanclief commented on #170
**Edit:** Clarified it happens on debug mode

[2019-01-31 09:02] gbalduzzi commented on #144
I have the same issues, i want to set a custom width/height but the scanner just fill the whole screen width even if it is container in a 200x200 wrapper view

[2019-01-31 19:08] NathanDsouza commented on #170
This also happens to be when I'm not on debug mode

[2019-02-05 08:10] pavs94 commented on #145
mine too

[2019-02-13 07:07] nithyan opened #172 "Disable scanning barcode types other than QR code"
### What's happening?
Is there a way to disable scanning bar code types other than QR_CODE. Though there is a provision in RNCamera, there is no property exposed from the library to take in the restricted barcode types.
For eg:
```<Camera barCodeTypes={[RNCamera.Constants.BarCodeType.qr]} /> ```

[2019-02-15 10:09] rgfretes commented on #160
DId you find any way to make it work @krisnailafat ? I am still experiencing it and I cannot upgrade the version with this problem.

[2019-02-15 18:38] howieyoung opened #173 "[Android] Should add a props to fix the issue on failing to change camera size"
Like many other issues mentioned, the size of camera is unable to be changed in some SDK version (not sure which versions are them, it worked fine on 26 but broken on 28 in my case).

After I added a ratio manually like below I can resize the camera into square again
[code]

So perhaps it would be helpful to have a [props.cameraRatio] in the future to deal with the resizing of camera. Just like:

[2019-02-15 18:47] howieyoung commented on #154
Got the same issue and solved it successfully
I've explained it at #173, feel free to check it and hopefully it's helpful for your case.

[2019-02-15 18:48] howieyoung commented on #149
Got the same issue and solved it successfully
I've explained it at #173, feel free to check it and hopefully it's helpful for your case.

[2019-02-15 18:49] howieyoung commented on #144
Got the same issue and solved it successfully
I've explained it at #173, feel free to check it and hopefully it's helpful for your case.

[2019-02-16 21:32] frangeris commented on #160
@rgfretes Update `react-native-camera` fixed on [v1.10.2](https://github.com/react-native-community/react-native-camera/releases/tag/v1.10.2)

[2019-02-18 10:48] wadtech commented on #85
I've found that running on the device works perfectly on both Android and iOS but running in the android emulator doesn't scan the QR code correctly.

Really no idea how to debug it, it simply reads nonsense from the qr code as presented.

[2019-02-19 16:05] MobDevelop commented on #115
Can you provide code when orientation is landscape

[2019-02-23 18:49] marshallcool commented on #170
+1

[2019-02-28 12:02] pawankhadpe commented on #170
+1.I am not able to scan QR code in debug mode.

[2019-03-03 19:23] mtnptrsn commented on #170
Same thing here. Any updates on this?

[2019-03-04 04:57] paakcmd commented on #161
I think your camera component never remount after the first usage. The easiest way to fix is to give the component the unique value every time you rout to the component.
Actions.scanner({unique: Date.now() })

[2019-03-04 07:48] andrewxhill commented on #166
I had the same issue in https://github.com/airsecure/airsecure and didn't want to create all the extra permissions fields for our users to worry about, so created this fork of the permissions library that will only work for camera roll and therefore, only requires the camera justification https://github.com/textileio/react-native-permissions

[2019-03-06 19:16] jhta commented on #165
same here

[2019-03-07 10:44] CGReinhold commented on #156
I had the same problem and noticed that this library uses the `react-native-permissions` in the version 1.1.1, while my project was using the version 2.

Downgrading the `react-native-permissions` version fixed the problem.

[2019-03-07 21:29] afilp commented on #166
@andrewxhill Thanks! I wonder if this could be a setting (option) in this package or at the `react-native-permissions` package, what do you think?

[2019-03-08 05:39] #154 closed

[2019-03-08 05:39] CFdong commented on #154
thank you

[2019-03-08 08:38] rey1024 commented on #170
same problem

[2019-03-08 18:05] jtarini commented on #173
@howieyoung I faced the same issue and fixed just adding `cameraProps={{ratio: "1:1"}}`

[2019-03-09 01:22] rey1024 opened #174 "cannot read QRCode"
I try implement source code in example, .
[code]

 firstime can read QRCOde. Then i install react-navigation (https://reactnavigation.org/) and the application cannot read QRCode. I Remove react-navigation and unlink, the application still cannot read QRCode.  Then i create new project QR COde, but still cannot read QR Code.

this is my package.json
[code]
anyone have same issue and can help?

[2019-03-09 02:37] #174 closed

[2019-03-10 03:59] legend1250 commented on #173
The same with me and solved by adding `cameraProps={{ratio: "1:1"}}`. Have anyone make this pull request?

[2019-03-10 09:06] howieyoung commented on #173
Set camerasProps={{ “1:1” }}  also works on my test. Thanks for the supplements 👍

[2019-03-11 03:56] vvteixeira commented on #167
Not sure if you figured it out yet, but you're calling the function instead of only making a reference. Try to remove the "()" from the "this._uploadData" like this:
[code]

[2019-03-11 07:44] Army-92 opened #175 "How can I open scan results in WebView?"
I am a beginner developer.

I already have a web app and implement only the necessary features in a reactive native.
I am using the package.
The result of the QR Code in the package is opened in a new browser.
I want this to be opened in the webview. Is there a good way?
Please help me. Thank you.

[2019-03-13 08:50] RachelBenTzur commented on #170
+1 on debug mode

[2019-03-19 07:37] kea0811 opened #176 "Having QRScanner in View"
### What's happening?

How can we include QRScanner in flex. I am trying to put the QR Scanner showing on the middle only.

### How can it be reproduced?

### Build details?

[2019-03-26 01:26] j0nd0n7 commented on #172
Use cameraProps to set the props for RNCamera

[2019-03-26 02:10] j0nd0n7 commented on #12
Same issue using react-native-navigation.
I already tried to force state updates without success

[2019-03-26 03:27] j0nd0n7 commented on #161
This issue is from RNCamera, and its solution is documented here:
https://github.com/react-native-community/react-native-camera/blob/master/docs/react-navigation.md

The solution is for react-navigation however a similar approach could be implemented with other navigation packages (like react-native-navigation using componentDidAppear and componentDidDisappear.

[2019-03-26 11:26] eduardodcastro commented on #115
I am developing a project, which uses qr code reader, your project helped me a lot in the development of the layout of this screen, I leave here my congratulations and thank you.
Eduardo / Brazil

[2019-03-28 21:05] gangwarily commented on #157
It's not the cleanest solution but I'm using the onLayout function on the frame View and comparing the positions whenever it reads a code. Works well enough but I'm not terribly sure how accurate it is.

[2019-04-01 07:47] sureshkumariOSDev commented on #156
@dqhung311: Thanks for your help its working fine to me.

[2019-04-01 13:24] moaazsidat commented on #173
Marking this as resolved, please feel free to open a PR if you think that would improve the experience of using the package, thanks for using this library!

[2019-04-01 13:24] #173 closed

[2019-04-01 13:24] #167 closed

[2019-04-01 13:26] moaazsidat commented on #162
should by fixed when this is released: https://github.com/moaazsidat/react-native-qrcode-scanner/pull/168

[2019-04-01 13:28] #172 closed

[2019-04-01 13:41] moaazsidat commented on #175
This might be useful to look at:
https://facebook.github.io/react-native/docs/webview

I haven't tried doing the above, but if you do, feel free to contribute/add an example under https://github.com/moaazsidat/react-native-qrcode-scanner/tree/master/examples

[2019-04-04 09:30] vivekkritikal opened #177 "Camera Blackout in Android Version 8.1.0"
### What's happening?
In Android version 8.1.0, camera not opening i.e. camera view is blackout.

### How can it be reproduced?
1. Run application on Android Version 8.1.0
2. Provide Run Time Camera Permission.
3. Open QR Code scan camera.
4. Complete Blackout.

### Build details?
Android version 8.1.0
 "react-native-qrcode-scanner": "^1.1.2",

[2019-04-05 06:52] vivekkritikal commented on #134
Not working for Version 8.1.0 ... Camera Blackout Issue

[2019-04-05 07:00] vivekkritikal commented on #173
Camera Blackout issue in version 8.1.0 .. For rest version working fine

[2019-04-09 11:20] ankitgauravapporio opened #178 "Doesn't work for android"
### What's happening?

### How can it be reproduced?

### Build details?

[2019-04-09 12:08] vivekkritikal commented on #177
Hi All the issue is not of version....

This issue is raising only on Mi Devices with version 8.1.0 and version 6.0.1... This version is known till now...

Actual issue... When setting aspect Ratio to 1:1... Request to take this issue on priority.

Thanks

[2019-04-12 06:36] vivekkritikal commented on #177
Any update on this issue?

[2019-04-23 15:41] arasemami commented on #155
make it true in your component.

` reactivate={true}`

[2019-04-24 09:29] Gothdo commented on #170
`npm i -S react-native-camera@1` fixed this for me.

[2019-04-25 22:50] fyush commented on #156
Hi! I am having the same issue building for iOS-- I am building through expo and not explicitly using XCode as my IDE, how do I handle this issue?

[2019-04-25 22:55] fyush commented on #156
Also, do I need to explicitly request permission still or does the qrcode scanner handle this under the hood?

[2019-04-28 13:01] bashbers commented on #165
You could try to add `cameraProps={{useCamera2Api=true}}`, maybe that could fix your problem.

[2019-04-29 01:09] ThailanHigor commented on #177
I have the same problem with my Xiaomi MI 8 Lite.
But, only when I navigate to another screen and comes back?
Someone help me?

[2019-04-29 12:19] mhamzawey commented on #107
I get that Android traceback
[code]

Could it be the same issue? and how to solve

[2019-04-29 14:27] YogeshYo commented on #65
Facing the same issue, any luck on this?

[2019-04-29 14:34] rszalski commented on #65
After having various sizing/styling issues with this package, I switched to https://github.com/react-native-community/react-native-camera which also supports (qr|bar)code scanning. Might be worth a try @YogeshYo .

[2019-04-30 13:01] YogeshYo commented on #65
Thanks @rszalski, I will try this and I agree with your solution. Thanks Again

[2019-05-02 17:13] moaazsidat commented on #178
Closing this due to lack of detail. If the library is fundamentally broken for Android and isn't working for anyone, welcoming any investigation/PR for fixes for any issues.

[2019-05-02 17:13] #178 closed

[2019-05-02 17:14] moaazsidat commented on #177
Hmm, seems like it's happening for some specific devices. Is anyone with the device able to debug further and find the root cause?

[2019-05-02 17:16] moaazsidat commented on #176
This is a React Native styling issue and not a good fit for issues on this repo. Please take a look at the [examples](https://stripe.com/blog/remote-hub) for default styling and more.

[2019-05-02 17:16] #176 closed

[2019-05-02 17:17] moaazsidat commented on #170
so needs an update of the dependencies? if so, accepting PRs that fixes it.

[2019-05-09 07:40] Ilario17 commented on #170
@Gothdo this did not solve the issue

[2019-05-09 21:44] Gothdo commented on #170
@Ilario17 Are you sure you installed version 1.x of `react-native-camera`? The `@1` part is important.

[2019-05-11 21:19] superp commented on #116
Neither of these methods has helped for me.
Still seeing a black screen after changing tabs.

P.S. @Albert0405 How did you implement blurred style for the camera? And white corners style for a marker?

[2019-05-11 21:32] superp commented on #175
Try to use Linking:

    import { Linking } from 'react-native'
    ...
    onBarCodeRead = (scanResult) => {
      if (scanResult.data != null) {
        Linking
          .openURL(scanResult.data)
          .catch(err => console.error('An error occured', err));

        this.scanner.reactivate();
      }
      return;
    }

[2019-05-12 06:04] Albert0405 commented on #116
check this one, i shared my code there
#115

[2019-05-14 22:05] Shenith opened #180 "Temvx"
### What's happening?

### How can it be reproduced?

### Build details?

[2019-05-14 22:05] #180 closed

[2019-05-15 22:28] YisusMB opened #181 "Need help to reactivate the qr scanner"
### What's happening?
Actually this is my code but when i try to call reactivate this dosnt work with this message "_this.scanner.reactivate is not a function"

`<QRscanner
      ref={(node) => this.scanner = node}
      reactivate={true}
      onRead={this.onRead}
      // renderTopView={this.topView}
      renderBottomView={
           <TouchableOpacity
            style={{marginTop: 15}}

[2019-05-16 02:31] dukinfotech opened #182 "The camera automatically stretch along the height"
### What's happening?
When i show QRCodeScanner in a Modal, firstly it shows camera in square, then after 1, 2s it automatically stretch along the height

### How can it be reproduced?
[code]
### Build details?
Android 9, "react-native-qrcode-scanner": "^1.2.1","react-native": "0.58.6",

[2019-05-16 10:58] bova80 commented on #181
if you already have reactivate={true} set in your properties then calling it won't do much cause as soon as it scans it reactivating.   this.scanner.reactivate() works for me in this situation:

onSuccess = (e) => {
    Alert.alert('Successful Scan', 'Navigate to: '+e.data, [
      {
        text: 'Cancel',
        onPress: () => this.scanner.reactivate(),
        style: 'cancel',
      },
      {

[2019-05-16 17:38] YisusMB commented on #181
@bova80 i check with your code and still have "_this.scanner.reactivate is not a function" :/ and i dont know why my version is     "react-native-qr-scanner": "^1.3.2",

[2019-05-16 18:43] YisusMB commented on #181
UPDATE--
set the prop 'isRepeatScan={true}' make this functionally but this one no have timeout, actually, the camera scans an infinite loop of times, this until you remove the QR from where the camera can read it anyone have other solution for this??

[2019-05-17 07:51] SL-A-SH commented on #173
Doesn't work. I am using sdk version 28

[2019-05-17 16:20] YisusMB commented on #181
Just forget this issue, my bad i install other package, i migrate to this and all works sorry for my dumb issue

[2019-05-17 16:20] #181 closed

[2019-05-18 21:42] superp commented on #177
It doesn't work for me too with my own device Xiaomi Redmi Note 4x and emulator Nexus 5 (28 SDK).
It works only for the first time, but when I change my tab navigation it becomes black.
I've tried to use some rerendering hooks (forceUpdate and isFocused feature), but it hasn't helped.
Here is a root part of my code:

    ...
    import { withNavigationFocus } from 'react-navigation';

    class Sc

[2019-05-19 18:58] MiLeung opened #183 "Does this package let you import QR codes from the camera roll?"
In the docs, [there's a suggestion to add the NSPhotoLibraryUsageDescription key to the info.plist](https://github.com/moaazsidat/react-native-qrcode-scanner#ios-10), but I don't see any methods related to importing  QR codes from the camera roll.

[2019-05-20 09:51] Iamivan1996 commented on #157
@gangwarily For the IOS QRCode Scanner, it's work perfectly with using your suggested solution.  But Android this part, i found that the json data is not same as iOS, Android always return the same width and height(i guess it is camera view width and height?). Also the size of origin array sometimes is different and don't know each items are represent to which xy or corner.

[2019-05-20 09:56] superp commented on #177
I've fixed it!
It was a redux-helpers problem from ignite:
https://github.com/react-navigation/redux-helpers/issues/53#issuecomment-492942942

[2019-05-20 10:09] superp commented on #136
If you still have problem with onDidFocus not firing, maybe you have the same:
https://github.com/react-navigation/redux-helpers/issues/53

[2019-05-20 20:02] shantang96 commented on #181
Hey YisusMB, I'm getting the same issue. It says 'undefined is not an object (evaluating _this2.scanner.reactivate). How did you fix this? I tried setting 'isRepeatScan={true}, but that didn't fix it.

[2019-05-21 02:33] YisusMB commented on #181
@shantang96 pls show me your code and your react native, react-native-cli & react-native-qrcode-scanner version it would be helpful

[2019-05-21 10:40] snipter commented on #182
@dukinfotech Looks like the problem in the `react-native-camera` component and its size. This code helped me:
`cameraStyle={{overflow: 'hidden'}}`

[2019-05-21 19:20] shantang96 commented on #181
@YisusMB Hey! I actually fixed it. I wasn't binding the function that was calling the state. Thanks though!

[2019-05-23 07:43] tranhiepqna commented on #170
Any updates for this one? I have the same problem with RN 0.59.8

[2019-05-23 09:38] siliconavengers commented on #73
@moaazsidat i'm running the example app on a device (android 5.1). It's still facing the issue - a black screen.

[2019-05-25 12:24] dominictwlee opened #184 "Typescript errors with all ViewStyle props"
I'm feeding styles from StyleSheet.create into topViewStyle and cameraStyle, but getting errors that I think are related to wrong type definitions.

### How can it be reproduced?
![image](https://user-images.githubusercontent.com/34794189/58369297-4a946200-7ef0-11e9-8f6c-d5a93ae874be.png)
![image](https://user-images.githubusercontent.com/34794189/58369302-52540680-7ef0-11e9-8bd2-7f2502b1a4e3.png)

[2019-05-29 18:56] moaazsidat commented on #183
Hey @MiLeung, we don't have support for that, but would be happy to accept PRs that introduce this functionality. I'd imagine some aspect of UI design to go into the feature as well to support a default 'plug-and-play' ability for the library.

[2019-05-29 23:04] #183 closed

[2019-05-30 09:47] dominictwlee commented on #184
I think this should fix it. #185

[2019-06-02 18:36] lapsio opened #187 "react-native link doesn't return any output"
When I'm trying to link react-native-qrcode-scanner nothing happens

### What's happening?
    lapsio@linux-6o92 ~/D/P/P/W/h/hiveipam> yarn add react-native-camera
    yarn add v1.13.0
    [1/4] Resolving packages...
    [2/4] Fetching packages...
    info fsevents@1.2.9: The platform "linux" is incompatible with this module.
    info "fsevents@1.2.9" is an optional dependency and failed compatibi

[2019-06-04 22:48] tomflorentin commented on #156
And what's about using VScode and expo ?
How to fix it ?

[2019-06-07 07:21] MttNajafi commented on #115
how to scan just only the center small area? When we have 2 QR code on the screen, the first one without need to go to the center area is scanned!

[2019-06-10 07:44] DnEgorWeb commented on #187
Seems like it`s related to [this issue](https://github.com/moaazsidat/react-native-qrcode-scanner/issues/124).

[2019-06-10 07:56] DnEgorWeb commented on #124
I had the same problem. Try the following:

1. Open your project in Xcode
2. Select your Target
3. Open "Build Phases" tab
4. Remove libQRCode.a (I don't remember exact name) from "Link Binary With Libraries"
5. Product --> Clean Build Folder
6. Build and run again.

It worked for me.

[2019-06-18 06:46] jervis446 opened #188 "Getting error "Unhandled Permission Error""
`[Unhandled promise rejection: Error: Tried to use permissions API but the host Activity doesn't implement PermissionAwareActivity.]
- node_modules/react-native/Libraries/BatchedBridge/NativeModules.js:155:41 in createErrorFromErrorData
- node_modules/react-native/Libraries/BatchedBridge/NativeModules.js:104:55 in <unknown>
- ... 5 more stack frames from framework internals`

my package.json file

[2019-06-18 09:37] Anujmoglix opened #189 "undefined is not an object (evaluating '_react.Proptypes.oneOfType')"
"react-native-camera": "^0.6.0",
"react-native-qrcode-scanner": "^1.2.1",

Getting error in following configuration.

[2019-06-19 09:16] PatilRupaliAress opened #190 "This scanner also scans the fabric images when used in mobile applcation"
Following fabric image is also scan by mobile application

"react-native-qrcode-scanner": "^1.1.2"
device : 1)MI A1(Generates)-  Android Version -9

2)Moto X Force(Generates) -Android Version -7.0

[2019-06-19 15:22] anibaghi commented on #116
@Albert0405 sorry my question actually didn't relate to your post. But how did you create that custom marker? Can you please share the code?

[2019-06-19 18:55] superp commented on #116
Here is an answer:

[2019-06-20 01:13] bramski commented on #156
The readme for this repo doesn't even state that react-native-permissions is needed. That's an extra step not documented.  Please add it to the main repo README if this is required thanks.

[2019-06-20 01:15] bramski commented on #156
Correction. It appears this is mentioned in linking. But many of us are on manual or cocoapods and require some work to get that working.

[2019-06-20 16:27] ThaJay commented on #116
@danhnguyeen Thank you that solution works for me. just some notes:
- I think `shouldRender` is a better name for the prop
- In the render function I rather use the pattern: `if (condition) return <Component />; else return null`
- remember to remove the listeners according to the documentation:
[code]
https://reactnavigation.org/docs/en/navigation-prop.html#addlistener-subscribe-to-updates-to-nav

[2019-06-24 12:56] GospelHW commented on #88
@Taglohner same here，works fine on IOS ，but on Android Oreo8.0 not work for me

[2019-06-24 12:58] GospelHW commented on #127
same i

[2019-06-27 12:32] Valentinishe commented on #173
https://github.com/moaazsidat/react-native-qrcode-scanner/issues/182
`cameraStyle={{overflow: 'hidden'}}` - it helped me

[2019-06-28 16:11] rcalabro commented on #145
+1

[2019-06-28 16:52] michaloslav commented on #188
Same problem here. Did you find a way around it?

[2019-07-02 12:12] lucky-mobile commented on #20
And docs for reactivate() here: https://github.com/moaazsidat/react-native-qrcode-scanner#reactivate
This problem not working at all.
could you help me about this problem?

[2019-07-04 23:07] bramski opened #191 "Newer version of react-native-camera"
This repo is a whole major version behind. You need to use the newer react-native-camera for newest react-native and build tools for android.

### What's happening?
Well nothing really, it just works.  We should let people know if they need to use 'general' or 'mlkit' (the former seems to work fine).

[2019-07-08 02:54] keithoys opened #192 "Weird pop-up rectangle bug when camera is unauthorized"
### What's happening?

When camera permission is not granted for the app, this long white rectangle pop-up will always appear first. User has to click outside of the rectangle pop-up before the native Android pop-up comes up to request for camera permission.

![photo_2019-07-08 10 48 31](https://user-images.githubusercontent.com/7553961/60779673-2faf4180-a16e-11e9-91f8-4e29b2f6008d.jpeg)

This is

[2019-07-11 05:02] ekas commented on #20
+1

[2019-07-11 09:25] monoharmayumrohitsharma opened #193 "TypeError:Cannot read property 'reactivate' of undefine"
return (
      <QRCodeScanner
        ref={(node) => { this.scanner = node }}
        onRead={this.onSuccess}
        topContent={
          <Text style={styles.centerText}>
            Go to <Text style={styles.textBold}>wikipedia.org/wiki/QR_code</Text> on your computer and scan the QR code.
          </Text>
        }
        bottomContent={
          <TouchableOpacity onPress={this.scanner.rea

[2019-07-11 09:26] monoharmayumrohitsharma commented on #193
please anyone help me with this reactivate method

[2019-07-11 13:09] volkansatir opened #194 "React Native CLI uses autolinking for native dependencies, but the following modules are linked manually"
I running to `npm install react-native-camera --save` and `react-native link react-native-camera`. Then the application gives this error when starting:
[code]

What's wrong with that?

[2019-07-11 16:42] HarounOujihi commented on #189
same issue

[2019-07-15 12:23] volkansatir commented on #194
I solved the problem. The whole problem was about RN-0.60.0. I created a new project with version 0.59.9. I've also edited the "`GeneralImplementation project (': react-native-camera')`" in "`android / app / build.gradle`" as "`implementation project (': react-native-camera')`".

[2019-07-15 12:23] #194 closed

[2019-07-15 14:45] StefanDorresteijn commented on #87
I realize this is an ancient question, but it's still the first thing people get to when they search for `torch` so here's the solution you can use:

Add this to the top of your file:
[code]

Then add the flashMode to your QRScanner cameraProps:
[code]

The flashMode is reactive, so you can also just use state.

[2019-07-15 17:52] dooleyb1 commented on #156
@dqhung311 Worked perfectly, thank you!

[2019-07-16 19:52] adammacdonald commented on #156
The issue you're seeing is coming from the dependency on `react-native-permissions`.
It comes from the `react-native-permissions` not being properly linked, since it seems there is an issue with the linking.

There's a few ways to correct this issue.
1) because there is a podspec:
   you can run `pod install`
2) if you prefer manually linking:
  Right click `Libraries` in your xcode.proj and add t

[2019-07-22 08:37] songoten28 commented on #192
same issue

[2019-07-22 09:18] songoten28 commented on #192
add this

[code]

this issue relative to react-native-camera not this lib.

[2019-07-23 06:42] kanikas24 commented on #193
#same issue reactivate not working

[2019-07-26 02:57] exAspArk commented on #188
I was trying to modify `android/app/src/main/java/host/exp/exponent/MainActivity.java` in my ejected Expo app like https://github.com/expo/expo/issues/2224#issuecomment-463242706 or https://github.com/wix/react-native-navigation/issues/3283#issue-328350574. But that didn't help. Weird that I see it only in the dev mode. It works fine if I compile a release apk.

[2019-08-02 10:50] robert589 commented on #1
We experience this also, any idea?

[2019-08-02 11:10] robert589 opened #197 "Vibration.vibrate not working in IOS"
### What's happening?

Vibration.vibrate not working in react-native-qrcode-scanner
http://facebook.github.io/react-native/docs/vibration#vibrate
if you take a look of the documentation, the first parameter of the function should be required, i am still not sure why it happens on IOS not android, but pls help to do necessary change.

### How can it be reproduced?

                  <QRCodeScanner

[2019-08-05 14:12] Nagibaba commented on #170
try to add `reactivateTimeout={300}`. Worked for me, although it doesn't make sense

[2019-08-09 03:55] LiDevil commented on #145
same here

[2019-08-11 08:02] zashishz opened #198 "Module `@react-native-community/async-storage` does not exist in the Haste module map"
Unable to use react-native-qrcode-scanner on react-native v-0.60+
Here is my package.json file
[code]

### What's happening?
I cannot use react-native-qrcode-scanner on react-native v-0.60+.
tried manually linking too. but nothing helped.

### How can it be reproduced?
create a new react-native project v0.60+
yarn add react-native-camera
yarn add react-native-qrcode-scanner

follow setup instructi

[2019-08-11 15:52] zashishz commented on #198
For now i have manually linked
[code]
did pod install for iOS and also added below line into my app build.gradle file
[code]

Thanks to @manelsanz  for [this](https://github.com/react-native-community/react-native-camera/issues/2150#issuecomment-484059264)

[2019-08-16 09:06] kanikas24 commented on #145
same issue..taking too long to scan due to the problem in Auto focus

[2019-08-16 09:16] LiDevil commented on #145
i use a new mobile phone,then it scan quickly...

[2019-08-16 09:24] kanikas24 commented on #145
I am majorly talking about android........ the same qr code is getting easily scanned on other apps but taking too much time for this qr scanner.

[2019-08-16 20:04] leosena777 commented on #165
@bashbers thank you!

[2019-08-26 06:11] bbeckk commented on #177
Its not working for me in Windows.
"react": "16.8.6",
"react-native": "0.60.4",
"react-native-camera": "^3.0.0",
"react-native-qrcode-scanner": "^1.2.1",

How can I solve it?

[2019-08-29 10:37] sharadkatre19 commented on #156
Install the react-native-camera by using following command:

`yarn: yarn add react-native-camera@git+https://git@github.com/react-native-community/react-native-camera.git
`

**OR**

`npm: npm install --save react-native-camera@git+https://git@github.com/react-native-community/react-native-camera.git`

**### This worked for me!!!**

[2019-08-29 15:16] sandyalta commented on #107
i have the same issue, any thought about it?

[2019-08-29 16:06] bramski commented on #156
@sharadkatre19 Use the npm released version not the github.  If you're using EDGE thats a pretty poor solution.

[2019-09-02 03:44] poltak commented on #129
I was also looking into this, as I got all the permission errors on app store submission, and found this thread.

Looking into the `react-native-permissions` package, they seem to be aware of this issue and explain it a bit more in the README stating that these permissions won't actually be shown to the users unless you really require them in your app:
https://github.com/react-native-community/rea

[2019-09-17 09:48] tunaSalad2406 commented on #156
and add

  pod 'react-native-camera', path: '../node_modules/react-native-camera'

to podfile. i complete you. i complete you guys all.

[2019-09-17 10:53] adammacdonald commented on #156
This issue should be closed.  It is not an issue with `react-native-qrcode-scanner` but rather package dependency configuration.  The fix is outlined above as well.

[2019-09-21 14:48] lucasvdev commented on #198
@zashishz Hello,

Did you just execute theses lines ?
[code]

I'm facing this same issue, I mannualy linking dependencies like as above but I still got the error...

[2019-09-25 01:54] regalfaith commented on #198
@lucasvdev This is how I solved the problem on RN 0.60.5 and iOS13

The problem was that there is a breaking change in react-native-permissions 1.2.1 relating to '@react-native-community/async-storage'

And the reason why this issue happened was because the correct version(1.1.1) of react-native-permissions was not installed alongside when react-native-qrcode-scanner was installed.
Instead, the ve

[2019-10-03 09:53] redeguzman-gbf opened #201 "TypeError: null is not an object (evaluating 'NativeModule.requestPermission')"
Doesn't work on  RN 0.61.1. Screenshot below.

<img width="476" alt="Screen Shot 2019-10-03 at 5 52 18 PM" src="https://user-images.githubusercontent.com/52161333/66117147-907fd600-e606-11e9-91f4-6718f34cb27b.png">

[2019-10-04 10:11] mertkir commented on #201
When I check my package-lock.json file, I see react-native-qrcode-scanner depends on "react-native-permissions": "^1.1.1"
This version of react-native-permissions works for react native versions between 0.56.0 - 0.59.10. The react-native-permissions version works for new react native version (> 0.60) is 2.0.0.
I think changing this dependency will work.

[2019-10-04 10:17] redeguzman-gbf commented on #201
@eggybot it definitely is. I just resolved my problem by downgrading `react-native-qrcode-scanner` and it's dependencies.

[2019-10-06 21:43] theone3nu opened #203 "Cannot read property FlashMode of undefined"
Unable to detect constants from QRCodeScanner
### What's happening?

when i add flashMode prop to the QRCodeScanner getting the above error
### How can it be reproduced?

<QRCodeScanner
                onRead={this.onSuccess}
                flashMode={QRCodeScanner.Constants.FlashMode.torch}
                topContent={
                  <Text style={styles.centerText}>
                    Go to

[2019-10-08 12:40] Florent75 opened #204 "package.json and main attribute"
Hi,

I have freshly installed the react-native-qrcode-scanner on a Mac running xcode with an iPhone 6 device connected :
    npm install react-native-camera --save
    react-native link react-native-camera
    npm install react-native-qrcode-scanner --save
    react-native link react-native-qrcode-scanner
   react-native link react-native-permissions

I did want to make a try with the example. In

[2019-10-08 17:40] dcosmin2003 commented on #156
I'm facing the same issue using the new react-native-permissions@2.x. Anyone found a solution for this? Downgrading the react-native-permissions it's not an option.

[2019-10-08 18:05] dcosmin2003 commented on #201
There's a pull request for this one. Waiting for it to be merged.
https://github.com/moaazsidat/react-native-qrcode-scanner/pull/202/commits/1a842ef69eda9b920533a4332bf3ffa0be35ecf5

[2019-10-08 18:06] dcosmin2003 commented on #156
There's a pull request for this issue. You can take the changes from this commit if you can't wait till it will be merged.

https://github.com/moaazsidat/react-native-qrcode-scanner/pull/202/commits/1a842ef69eda9b920533a4332bf3ffa0be35ecf5

[2019-10-11 08:23] sotirelisc commented on #201
The PR for this should be merged ASAP. :D

[2019-10-12 14:50] f0ntana commented on #201
What version ?

[2019-10-12 15:02] Desteel opened #205 "Cannot read property 'requestPermission' of undefined"
An error occurs while accessing permissions.

**What's happening?**

When I add a scanner component to the render.

**How can it be reproduced?**
[code]

[code]

I detected error here on step 1.
[code]

If i change `const CAMERA_PERMISSION = "camera";` on `CAMERA: "ios.permission.CAMERA";` from react-native-permissions types,  I achieve some result.

[2019-10-13 16:49] JimLuschkowski commented on #201
Anyone successfully implement the pull request @dcosmin2003 referenced above?  Post changes, I get this instead of the original error @redeguzman-gbf reported..
![image](https://user-images.githubusercontent.com/37415421/66718960-c1ef6300-edb7-11e9-9bb5-28d282aea4de.png)

[2019-10-13 17:38] mertkir commented on #201
You need to add related permissions to the podfile according to the following url:
https://www.npmjs.com/package/react-native-permissions

As far as I remember adding this two lines is enough
`
permissions_path = '../node_modules/react-native-permissions/ios'
pod 'Permission-Camera', :path => "#{permissions_path}/Camera.podspec"
`

[2019-10-13 18:18] JimLuschkowski commented on #201
@mertkir - thanks for the reply - I had already added all of the related permissions to the pod file per that link.  I actually copied all of them to start with and was going to trim out the unused ones once I had it working.

[2019-10-14 16:53] mertkir commented on #201
Is there a chance that you forgot to run 'pod install' ?
Also I run 'npm install react-native-permissions --save'. I think normally it should not be necessary if you install react-native-qrcode-scanner via npmjs but I manually copy it to the node_modules directory so I needed to add this dependency to the project.
If it still does not work, remove node_modules and pods directories and reinstall th

[2019-10-14 20:58] IacoCesar commented on #205
Same issue

[2019-10-14 21:45] esensei commented on #205
https://github.com/moaazsidat/react-native-qrcode-scanner/commit/1a842ef69eda9b920533a4332bf3ffa0be35ecf5

[2019-10-15 17:23] ferdiamg commented on #156
Using react-native `0.61.1`, `react-native-qrcode-scanner 1.2.3` and `react-native-permissions@2.x`
Manually linking as suggested above doesn't work anymore, a hopeful `pod install` doesn't work aswell. Should I really touch the source code as @dcosmin2003 suggested? Is this my only option right now?

[2019-10-16 07:48] gbalduzzi commented on #205
Same for me

[2019-10-16 11:29] ferdiamg commented on #201
@JimLuschkowski did you get it working? Got exactly the same issue.. Tried to implement #1a842f but then getting `TypeError: undefined is not an object (evaluating '_reactNativePermissions.PERMISSIONS.IOS')`.

I did a pod install, added the `permissions_path = '../node_modules/react-native-permissions/ios'
pod 'Permission-Camera', :path => "#{permissions_path}/Camera.podspec"` as stated in react-n

[2019-10-16 11:44] Desteel commented on #205
I found a way out of the situation using the `onBarCodeRead` of react-native-camera with my handler and scanner mask.

[2019-10-16 11:46] mertkir commented on #201
@ferdiamg @JimLuschkowski 's original question is related to the pull request which is not merged to the main branch yet. You are using version 1.2.3 of react-native-qrcode-scanner. Instead you should get the code with the pull request and use that version. My comments are related to the code offered by pull request. I successfully managed to run a test app by following the procedures I described

[2019-10-16 12:18] ferdiamg commented on #201
Yeah I am using the updated index.js from the Pull Request just like you and also adjusted the package.json in react-native-permissions to ^2.0.0. Still the same issue somehow..

[2019-10-16 12:51] gbalduzzi commented on #205
I resolved forcing `react-native-camera` to `3.7.0` instead of `3.7.2`

[2019-10-16 19:03] uros-matejic38 commented on #156
Using react-native 0.61.2, react-native-qrcode-scanner 1.2.3 and react-native-permissions@2.x
Manually linking as suggested above doesn't work anymore, a hopeful pod install doesn't work aswell. Should I really touch the source code as @dcosmin2003 suggested? Is this my only option right now?

I met this problem too as ferdiamg.

who can help me for this?
Thank you

[2019-10-16 19:06] azterix commented on #156
@ferdiamg @uros-matejic38

I was able to get that same QR scanner setup working by:

1. Adding the following line to {projectRoot}/ios/Podfile
[code]
2. Running ```pod update``` from the ios folder

[2019-10-16 19:22] uros-matejic38 commented on #156
Hi, Thanks for your kindly answer.
BTW, should I downgrade react-native-permissions version?
I am using react-native-permissions 2.0.2 now.
Could you help me with this version?

[2019-10-16 19:57] ferdiamg commented on #156
@uros-matejic38 check out my answer here: https://github.com/moaazsidat/react-native-qrcode-scanner/issues/201#issuecomment-542656120

I downgraded to react-native 0.61.0 since 61.1 and 61.2 somehow break manual and autolinking for some npm packages and I couldn't get it figured out for days. 0.61.0 is fine enough and I got the qr-scanner aswell as Bluetooth ble-plx working. But there are some hac

[2019-10-16 23:55] JimLuschkowski commented on #201
@ferdiamg I'm still having the same issue... I've performed all of the steps in this thread, several times in multiple permutations, without any measurable impact.

The index.js and package.json in my node_modules/react-native-qrcode-scanner folder match the pull request.  My local package.json references react-native-qrcode-scanner 1.2.3, and react-native-permissions 2.0.0.  I deleted ios/builds

[2019-10-17 02:33] MASAKASUNO1 commented on #201
i have the same issue

[2019-10-17 02:43] f0ntana commented on #201
i move and use react-native-camera, by default has qrcode reader.

[2019-10-17 03:22] aimawari commented on #201
@JimLuschkowski Try remove node_modules/ and package-lock.json then `npm install`

After that go look inside node_modules/react-native-permissions/, recheck package.json inside that folder is it match to `react-native-permissions@2.0.0`.

Sometimes npm is install wrong version, if in that case you need to `npm install --save react-native-permissions@2.0.0` manually.

[2019-10-17 13:04] dodeca-dev commented on #205
experiencing this problem too. anyone who solved this issue?

[2019-10-17 13:06] esensei commented on #205
Check this pull request 1a842ef

[2019-10-17 13:41] Desteel commented on #205
You can use `onBarCodeRead` of react-native-camera with your handler and scanner mask.

[2019-10-17 15:15] dodeca-dev commented on #205
Works great. Thanks!

[2019-10-21 09:09] helloravi commented on #201
It worked for me -
1. Used the pull request
2. Installed the Pod

https://github.com/moaazsidat/react-native-qrcode-scanner/commit/1a842ef69eda9b920533a4332bf3ffa0be35ecf5

[2019-10-22 13:12] reddeguzman commented on #201
@JimLuschkowski,

`react-native-permissions` is not linked correctly.

**< RN 0.59**

run `$ react-native link react-native-permissions` should solve that issue

**> RN 0.60**

Linking should be automated if the package can be autolinked

A lot of issues can be generated depending what versions of RN and third party packages you are using so I think the best way to link module is via manual linkin

[2019-10-22 15:07] JimLuschkowski commented on #201
@reddeguzman and anyone else who offer assistance, it is greatly appreciated.  I tried them all (and more) without success, so I decided to drop back to just using react-native-camera as @f0ntana suggested.  react-native-scanner-mask is a nice add if anyone else goes this route.

[2019-10-23 02:37] renaldy84 commented on #170
@Nagibaba  works for me as well.  and yes it doesn't make sense.

[2019-10-23 11:13] sharadkatre19 commented on #115
**Nice!! It's Amazing, Thanks!!@:D**

[2019-10-24 07:26] SmartArray commented on #197
Vibration works on my iOS 13 device.
It's weird that they require the first argument, but the documentation also says that the default is 400ms

[2019-10-25 15:48] yaibait commented on #203
I have the same problem, try this
`import { RNCamera as Camera } from 'react-native-camera';

Camera.Constants.FlashMode.torch
`

[2019-10-31 09:09] quietautumn commented on #205
I have the same problem. How to solve it? The above method has no response.

[2019-10-31 11:45] gbalduzzi commented on #205
I'm using the fork by @aimawari which is one commit ahead.

Use `"react-native-qrcode-scanner": "github:aimawari/react-native-qrcode-scanner",` in your `package.json` dependencies section

[2019-10-31 14:51] afilp commented on #201
moaazsidat Can you please merge the pull request?

[2019-11-01 04:20] abiespinal04 commented on #201
I tried all the steps above and it still results in an error. I hope the merge happens soon.

[2019-11-01 04:53] abiespinal04 commented on #201
I tried these steps as a temporary solution until their merge the PR fixing this issue:
1. yarn add moaazsidat/react-native-qrcode-scanner#refs/pull/202/head
2. Add to your Podfile ->
permissions_path = '../node_modules/react-native-permissions/ios'
pod 'Permission-Camera', :path => "#{permissions_path}/Camera.podspec"
3. Make sure you have your permission key in your info.plist example: <key>NSCa

[2019-11-01 16:55] jhoanborges commented on #144
try my code

[code]

[2019-11-01 17:08] jhoanborges commented on #175
This is not a library issue. You must read react-native documentation.

[https://facebook.github.io/react-native/docs/linking](url)

[2019-11-02 16:11] x5engine commented on #203
@yaibait thanks it works

[code]

[2019-11-03 03:00] JuanCamilo0809 commented on #205
But you need:

react-native-permissions 2.0.0 exactly, it is up, not work, only with the 2.0.0

[2019-11-08 06:27] jegathispandi commented on #192
Same problem here. any solution for this problem?

[2019-11-12 18:14] francescossoru opened #207 "Is this repo maintained?"
There's a problem with permissions from October please fix it

[2019-11-14 14:52] Amirh24 commented on #201
Any solution for this one the does not including using POD? I use Carthage instead. Nothing works for me, I get the same error.
Thanks

[2019-11-16 18:09] theoctober19th commented on #207
Same here. getting permissions error in iOS. There is a pull request that fixes my problem which have not yet been merged.

[2019-11-17 21:22] java-james commented on #203
I don't think the above is correct for the latest. flashMode no longer exists on QRCodeScanner by the looks instead it takes cameraProps.

This is the solution for me using latest

[code]

[2019-11-17 23:59] java-james opened #213 "Invalid RNPermission 'ios.permission.CAMERA' should be one of ()"
After upgrading to latest (merge of PR #202) I am getting the following error:

<img width="284" alt="Screen Shot 2019-11-18 at 12 49 43 PM" src="https://user-images.githubusercontent.com/22756998/69016451-4bbbcd00-0a03-11ea-980a-fc37f732a8b2.png">

This error was reported by users in the PR.

### What's happening?
Throwing "Invalid RNPermission 'ios.permission.CAMERA' should be one of ()" on load

[2019-11-18 10:48] evanoralph commented on #213
bump to this

[2019-11-18 13:10] gbalduzzi commented on #205
@aimawari pull request has been accepted and it is included in version `1.3.0`, released less than one day ago.

[2019-11-18 15:16] olethanh commented on #213
You need to add to your podfile
[code]
see https://github.com/react-native-community/react-native-permissions#ios

[2019-11-18 16:54] moaazsidat commented on #207
yes, it is, however, due to the contributors' time being limited, some issues and PRs may not get attention, with an upper bound of around 4 months at times. Please see the last line at the intro on the readme: https://github.com/moaazsidat/react-native-qrcode-scanner

we're constantly on the look out for active contributors :)
if you'd like to take on that responsibility, please do reach out

[2019-11-18 16:54] #207 closed

[2019-11-20 03:27] markl-vesper commented on #201
Has anyone found iOS builds failing after adding the PR and the lines to the pod etc?

xcode build error as per below:

duplicate symbol '_OBJC_CLASS_$_RNPermissionHandlerCamera' in:
    /Users/build.mac/Library/Developer/Xcode/DerivedData/CortexMonitoring-ddckgtmysivxhiebtkcjrvtlhtos/Build/Products/Debug-iphoneos/Permission-Camera/libPermission-Camera.a(RNPermissionHandlerCamera.o)
    /Users/bui

[2019-11-23 05:37] musadiq-jinbade opened #215 "dotcode scan in qrcode scanner"
### What's happening?

### How can it be reproduced?

### Build details?

can we scan dotcode in react native qrcode scanner

this are the type in react native qrcode scanner aztec: any, code128: any, code39: any, code39mod43: any, code93: any, ean13: any, ean8: any, pdf417: any, qr: any, upce: any, interleaved2of5: any, itf14: any, datamatrix: any

can we add Dotcode in that?

[2019-11-25 13:58] roshan-p opened #216 "react-native-permissions/src/constants.ts: Unexpected token (2:59)"
I got this error after I run ios simulator.

  1 | export const ANDROID = Object.freeze({
'>' 2 |   ACCEPT_HANDOVER: 'android.permission.ACCEPT_HANDOVER' as const,
    |                                                            ^
  3 |   ACCESS_BACKGROUND_LOCATION: 'android.permission.ACCESS_BACKGROUND_LOCATION' as const,
  4 |   ACCESS_COARSE_LOCATION: 'android.permission.ACCESS_COARSE_LOCATION'

[2019-11-26 01:35] leandrosouzaa opened #217 "QRcode is not read"
### What's happening?

I'm starting with this library. I copied exactly the code that is made available from the documentation however when executing it I have no answer. Not even the vibration produced by reading Qrcode is performed

### How can it be reproduced?

[code]

[2019-11-26 02:21] WaveMeUp commented on #213
Same problem here, but for React Native 0.59.9. I don't have pods file in my project and to be honest do not want to have. I spent a lot of time and tried every solutions that was here or in react-native-permissions issues, but still get "Invalid RNPermission 'ios.permission.CAMERA' should be one" or other related stuff.

It would be great if someone could help, because right now I gave up.

[2019-11-26 13:30] olethanh commented on #213
@WaveMeUp
the problem is in that project and not this one, maybe see open an issue with them?

[2019-11-28 13:54] berkio3x commented on #213
i am getting the exact same error. why this could be . as @olethanh said if i add
[code]
I get .
[code]
But i cannt use this as addthing this to podfile also installs an older version of react(0.11.0) & it messes up everything

[2019-11-28 13:59] moaazsidat commented on #216
seems like a problem in react-native-permissions

[2019-11-28 13:59] #216 closed

[2019-11-28 14:00] moaazsidat commented on #215
sure go for it, will accept PRs

[2019-11-28 14:00] #215 closed

[2019-11-29 10:02] mzparacha commented on #213
I have same problem and even I added these 2 lines

`permissions_path = '../node_modules/react-native-permissions/ios'
  pod 'Permission-Camera', :path => "#{permissions_path}/Camera.podspec"`

And after that I also run pod install and uninstalled app from simulator and then re installed it but still I have same problem

[2019-12-04 14:38] aaroncornelissen opened #218 "Empty camera permissions rationale popup android"
When I where testing my application I discovered an empty popup on android before I got the permission popup. When I googled the problem I found an issue that solved my problem: https://github.com/react-native-community/react-native-camera/issues/232.

![Screenshot_20191204-152922](https://user-images.githubusercontent.com/57479235/70151231-95ffa800-16ab-11ea-8431-df58d04c511b.jpg)

If I pass andr

[2019-12-05 16:58] artyom-developer commented on #213
I have same :( something fix?

[2019-12-05 16:58] artyom-developer commented on #213
I have same :( something fix?

[2019-12-05 20:11] artyom-developer commented on #213
I fixed issue
Xcode -> Product -> Clean Build Folder and Run iOS

[2019-12-09 11:58] raphaelv619 commented on #217
Same here..

[2019-12-10 11:23] tungns4-topica commented on #217
Same here..

[2019-12-10 13:35] raphaelAdekz commented on #217
I tested on 3 different phones and it worked on just one.

Android 6.0.1 - not worked

Android 7.0 - not worked

Android 7.1 - worked

[2019-12-10 14:34] raphaelAdekz commented on #217
In my case I was scanning a very large QRCode, and in some phones it worked and in others not, when it decreases the QRCode size it worked in all

[2019-12-10 14:39] leandrosouzaa commented on #217
In my case, I entered the basic QRCode scanner code and reinstalled the app on the device. This made the application work normally, from time to time it would stop reading, I just had to reinstall the application to get everything back to normal.

[2019-12-11 00:45] TeruyaHaroldo commented on #217
I am using the `react-native-camera` version **3.8.0** and everything is working.

[code]

[2019-12-11 00:51] TeruyaHaroldo commented on #192
I am using the `react-native-camera` version **3.8.0** and everything is working.
Version of `react-native` is **0.61.2**.

[code]

[2019-12-11 07:23] jegathispandi commented on #192
<QRCodeScanner
				cameraProps={{
					androidCameraPermissionOptions: null
					}}
					onRead={this.onSuccess}
					ref={(node) => { this.scanner = node; }}
				/>

Its working fine. thanks @songoten28

[2019-12-11 10:35] tomsotte commented on #213
I've fixed my issue as well:

1. Follow the guide on the link above and set the required permission in both the `Podfile` and the `Info.plist`
2. Clean the whole project with `npx react-native-clean-project`
3. Install the pods again with `cd ios && pod install`
4. Rebuild and launch the app on iOS simulator/device

[2019-12-11 10:38] khrisnaars opened #220 "Reactive Time Out Not Work"
Im use reactive time out and not work when i set the time

below is my qrcodescanner attribute,and how i can reactive it manualy i try to set state on reactive but didnt work

        onRead={this.barcodeRecognized}
        flashMode={RNCamera.Constants.FlashMode.auto}
        reactivate={true}
        showMarker={true}
        reactivateTimeout={5}
        markerStyle={Styles.marker}
        chec

[2019-12-16 09:58] vipindhangar1107 commented on #217
Update QRCodeScanner like this :

<QRCodeScanner
                    flashMode={Camera.Constants.FlashMode.off}
                    onRead={(e) => this.onSuccess(e)}
                    topContent={
                        <Text style={styles.centerText}>
                        </Text>
                    }
                />

[2019-12-25 18:36] franmio opened #221 "bottomContent loses height configuration when the QR scanner is inside a KeyboardAwareScrollView"
When I add the QR Scanner code inside the KeyboardAwareScrollView from the 'react-native-keyboard-aware-scroll-view' library, the bottomContent loses the height configuration.
I need to use this library because I want to add some TextInputs and they are overlapped otherwise.
### What's happening?

Without KeyboardAwareScrollView
[code]
![image](https://user-images.githubusercontent.com/22008372/71

[2020-01-15 22:06] acerbastimur opened #223 "Require cycle warn"
Debugger says 'Require cycle warn'

### What's happening?
I'm using "^1.3.1" version. When I use the component purely, it throws this error on both Android & Ios.

![Screen Shot 2020-01-16 at 01 02 42](https://user-images.githubusercontent.com/33218120/72475601-4bba2c80-37fc-11ea-9e39-d8a17a535e1b.png)

How can I solve it ?

[2020-01-22 17:52] NelsonPRSousa opened #224 "What react-native-qrcode-scanner offers that react-native-camera doesn't?"
I was reading react-native-camera [documentation](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#onbarcoderead) and seems that react-native-camera already reads QR codes.

What am I missing here?

[2020-01-24 13:48] moaazsidat commented on #224
from the [readme](https://github.com/moaazsidat/react-native-qrcode-scanner/blob/master/README.md):

Also see the screenshot in the readme for the user interface this offers, if you'd like anything too different, I'd recommend implementing using `react-native-camera`

[2020-01-24 13:48] #224 closed

[2020-01-24 13:49] moaazsidat commented on #223
hmm, not entirely sure, do you have a repo that you can point to where this is reproduced?

[2020-01-24 13:51] moaazsidat commented on #221
I would suggest using `react-native-camera` directly if you're trying to change the UI significantly.
Alternatively, if this is a valid broad use case, will accept PRs bringing this functionality to this library.

[2020-01-24 13:51] #221 closed

[2020-01-24 13:51] moaazsidat commented on #220
Will accept PRs fixing this.

[2020-01-24 13:52] moaazsidat commented on #218
Will accept PRs fixing this.

[2020-01-24 13:53] moaazsidat commented on #217
Is there something actionable from here that needs to be updated in the library or it's examples?

[2020-01-24 13:56] NelsonPRSousa commented on #224
Thanks, I wasn't completely sure regarding the differences. 👍

[2020-01-24 13:58] leandrosouzaa commented on #217
Only examples

[2020-01-24 14:33] franmio commented on #221
I only need to add two TextInputs and I wrapped all in a KeyboardAwareScrollView to avoid the keyboard overlapping...

[2020-01-28 22:23] estevanpedro opened #225 "NativeModule.RNPermissions is null"
`react-native-permissions: NativeModule.RNPermissions is null. ` after open <QRCodeScanner ... />
### What's happening?

I have done everything right in the setup, i checked several times, and i'm getting this error on android.
### How can it be reproduced?

I installed react-native-camera and then react-native-qrcode-scanner
### Build details?

I'm using React-native: 60.5 with hooks and typescri

[2020-01-29 07:37] ardiankristo commented on #225
i had this a while ago and after i follow the setup from here [https://github.com/react-native-community/react-native-permissions](url) it actually fixes that

`<uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses

[2020-01-29 12:13] hanaechahid opened #226 "trouble on camera after scanning code"
### What's happening?

After the qrcode is scanning and the app go to the next screen, the camera do something like zig zag only on the android, on ios works well.

### How can it be reproduced?

`
  constructor(props) {
    super(props);
    this.state = {
      acitivateCam: false,
      dialogVisible: false,
      reactivate: false
    };
  }

  // On sucess
  onSuccess(e) {
    this.props.sear

[2020-01-30 17:00] hanaechahid commented on #226
@moaazsidat could you please take a look at this?

[2020-02-03 22:20] acerbastimur commented on #220
still doesn't work..

[2020-02-03 22:57] acerbastimur commented on #226
I'm still getting this issue. ReactiveTimeout doesn't work.

[2020-02-04 08:59] hanaechahid commented on #226
@acerbastimur I have fixed the issue by deleting NavigationWithFocus in my component

[2020-02-04 20:34] darkheartfelt commented on #65
🧐🧐🧐🧐I really wish I knew this component was **unable to be styled at all** before I implemented it in my project.

[2020-02-07 14:10] brunovianarezende commented on #177
I had this problem and it seems this was caused by a problem with react-navigation. Some details of what happens can be found at https://github.com/react-native-community/react-native-camera/blob/master/docs/react-navigation.md. The solution I used in my project was based on the suggestion in the link.

First I create a new component:

[code]

and then I use `HackedQRCodeScanner` instead of `QRCod

[2020-02-10 05:27] kirame09 commented on #225
That doesn't solve the issue, any update on this one pls?

[2020-02-13 02:19] muhsyaa opened #227 "Cant scan a qrcode Vcard"
![WhatsApp Image 2020-02-13 at 9 18 59 AM](https://user-images.githubusercontent.com/49142086/74395459-f0527d00-4e41-11ea-819f-4528c7ea0810.jpeg)

[2020-02-13 19:26] AndreLuizGarcia commented on #225
I am having the same issue.
Some update?

[2020-02-17 23:46] igormoraesdev opened #228 "FlashMode doesn`t work"
hey guys, i can`t use flashMode, i need to change everytime in node_modules the prop on flashMode, anyone can help? my version is "react-native-qrcode-scanner": "^1.3.1",

my code

`
import QRCodeScanner from 'react-native-qrcode-scanner';
import { RNCamera as Camera } from 'react-native-camera';

<QRCodeScanner
        ref={ref => setQrRef(ref)}
        flashMode={
          flash
            ? C

[2020-02-18 19:31] renanmav commented on #140
This should be added to the README.md

[2020-02-18 20:11] AdiCutitoiu commented on #225
This worked for me

`
npm install react-native-permissions --save
react-native link react-native-permissions
`

[2020-02-19 07:26] alan1231 opened #229 "ios : readerQR undefined , but android is ok"
![螢幕快照 2020-02-19 下午3 25 40](https://user-images.githubusercontent.com/17918571/74811301-2608d180-532c-11ea-9d6d-88ae6f4d00c6.png)

[2020-02-19 16:12] danhnguyeen commented on #228
This option worked for me
[code]

[2020-02-20 09:23] DuranMoodley opened #230 "Reactivate of scanning not working when navigating back from another screen"
I open the camera to scan and set the reactivate prop to false. When scan is successful i navigate to another screen. When i navigate back to the camera to scan again, no scan works. I cannot re-scan again. I have tried setting the reactivate prop to true and the reactivateTimeout to a large time constraint. However, the scanning continuously works even when the screen is in the background. Please

[2020-02-25 23:14] MikeGsus commented on #80
I've something similar:

When I try to use the component it shows a loader but never appears the camera.
The app has camera permissions. This trouble doesn't happen with Android, it's only with iOS

![88607632-4C20-4D57-8929-9CA145940989](https://user-images.githubusercontent.com/19364241/75295894-6915e980-57f1-11ea-9911-b4f7485f42da.png)

[2020-02-27 06:07] sharad-epam opened #232 "App getting crashed on QR code scan"
App getting crashed on QR code scan  and when try open again its not opening

### What's happening?

I am using the same example which is provided in the library , but some how i am not getting success in executing that  example successfully.
### How can it be reproduced?

`import React from 'react';

import {StyleSheet, Text, View, TouchableOpacity, Linking} from 'react-native';
import QRCodeScan

[2020-02-27 06:09] #232 closed

[2020-02-27 13:48] fujianjin6471 commented on #213
Succeed without cleaning, tks!

[2020-02-27 15:05] zoneint commented on #230
Apparently that was a problem with react navigation closing the camera:
https://github.com/react-native-community/react-native-camera/issues/2698

For now I'm working around this using NavigationEvents to remount my QRCodeScanner everytime my screen get Focused.

<NavigationEvents
    onDidFocus={()=>this.setState({showCamera:true})}
    onWillBlur={()=>this.setState({showCamera:false})}
/>
{this.

[2020-02-28 15:21] #228 closed

[2020-03-05 06:07] NirmalsinhRathod commented on #230
@zoneint Thanks for your help. You saved my time :)

[2020-03-10 18:00] self-coding-crab commented on #229
Is there any update here?

[2020-03-10 18:01] self-coding-crab commented on #229
I think readerQR is not existing on NativeModule from react-native package.

[2020-03-15 14:48] #218 closed

[2020-03-16 12:49] mrKorg opened #236 "Don't render top and bottom content if it is not passed."
If I don't pass topContent or bottomContent, can it be not renderet at all? It looks like empty spaces and can't be removed via style.

[2020-03-17 18:50] sorokovskaja opened #237 "typeerror undefined is not an object (evaluating '_reactNativeQrcodeScanner.default.Constants.FlashMode')"
Can someone help me identify why am I getting this error?

"react-native-camera": "^3.19.2",
"react-native-permissions": "^2.0.10",
"react-native-qrcode-scanner": "^1.4.0",

<img width="273" alt="error" src="https://user-images.githubusercontent.com/50705726/76890785-e4fad300-687f-11ea-8f9c-b2eddd0ee7a3.PNG">

import React, { Component } from 'react';
import {
  StyleSheet, Text, View, StatusBar,

[2020-03-18 04:16] chego25 opened #238 "Error encountered while importing the module into my project"
Please consider the screenshots step-by-step:

1. Import statement of QRCodeScanner has been commented out.

![01](https://user-images.githubusercontent.com/54089067/76924668-19f93b00-68fd-11ea-8f5e-a83dbb5ac888.png)

2. App Screen launches perfectly.

![02](https://user-images.githubusercontent.com/54089067/76924690-2aa9b100-68fd-11ea-9014-8ce30ceb89af.png)

3. Import statement of QRCodeScanner i

[2020-03-18 12:05] #238 closed

[2020-03-18 12:06] chego25 commented on #238
Resolved this problem myself. It's not being triggered by react-native-qrcode-scanner. However, it's a COOL module! Thanks.

[2020-03-19 18:42] MrAusnadian opened #239 "Remove references to opencollective (not opencollective-postinstall)"
See https://github.com/opencollective/opencollective-cli/issues/17#issuecomment-593307719:

[code]

Currently, `npm audit` shows this:
[code]

[2020-03-22 05:47] givionte commented on #225
Same issue here.  I followed the guide exactly, including adding permissions.  I am not using expo, I have a full react-native project.  Already have tried removing node_modules, cleaning cache,reinstalling, but got nothing.  All packages successfully linked. @estevanpedro @AndreLuizGarcia  Did you find a solution that worked for you?

reportException | @ | G:\development\Table…ptionsManager.js:44

[2020-03-23 10:07] vuongtuananh commented on #236
Just set height = 0 for Top and Bottom.
`topViewStyle={{height: 0, flex: 0}}
  bottomViewStyle={{height: 0, flex: 0}}`

[2020-03-28 04:04] robbienohra opened #242 "Animated: useNativeDriver was not specified"
Getting a warning:

Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

When `fadeIn` prop is set to `true`

### What's happening?

Getting a warning:

Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

When `fadeIn` prop is set to `true`

### How can it be r

[2020-03-28 16:57] VincentKunXie opened #243 "Could not determine the dependencies of task ':react-native-camera:compileMlkitReleaseAidl'."
Got the following error when building a release apk for my project (project used qr code scanner, camera and permission)

**could not determine the dependencies of task ':react-native-camera:compileMlkitReleaseAidl'.

`Could not find com.google.android.gms:play-services-vision-image-label:12.0.1.
     Required by:
         project :react-native-camera > com.google.firebase:firebase-ml-vision:19.0.

[2020-03-30 22:27] renatobenks commented on #123
I was wondering about this issue and I just thought about if this proposed text message to timeout shouldn't be more out of the box as an API? I mean, why the text "Tap to activate camera" it's hardcoded?

[2020-04-02 09:15] Harsh2089 commented on #45
You saved my time :)

[2020-04-07 08:11] TranDinhKhang commented on #213
Confirm that this worked for me. Please add this to Readme asap.

[2020-04-08 15:51] Bautista-Baiocchi-lora commented on #213
Worked but you must follow it perfectly.

[2020-04-09 07:26] motogod commented on #115
Thanks for sharing the code.

But I found an issue it happens on `<View style={styles.bottomOverlay} />` if put `<TouchableOpacity onPress={() => alert('bottom)}><Text>Click</Text></TouchableOpacity>`

onPress function won't work on Android. ( iOS is working )

I have no idea why.

If just test a code like this it's still not working with yellow background.

[code]

[2020-04-09 16:26] eduludi commented on #197
I'm getting the same issue in my iOS 13 device.

The errors says:

[code]

@SmartArray RN has a ticket open on this: https://github.com/facebook/react-native/issues/27920

[2020-04-10 15:08] qiray opened #245 "Is it possible to take a photo in onRead?"
I use react-native-qrcode-scanner  to scan QR-code and it works well, but I also need to take a photo of object with QR-code.

Is it possible with QRCodeScanner?

[2020-04-15 09:25] naugo-naugo commented on #157
any update for this?

[2020-04-15 11:01] DevAress opened #246 "iOS : Barcode scanning process takes too much time on iOS devices as compared to android devices."
### What's happening?

### How can it be reproduced?

### Build details?

[2020-04-16 14:15] rutvikrockers opened #247 "Multiple QR Code at once"
I need to scan multiple QR codes at once in one scan. Is it possible for this library? Can you please help me with this?

[2020-04-18 03:36] suraneti opened #248 "[!] use_native_modules! skipped the react-native dependency 'react-native-qr-scanner'. No podspec file was found."
The library doesn't support use_native_modules?

### What's happening?

Warning `[!] use_native_modules! skipped the react-native dependency 'react-native-qr-scanner'. No podspec file was found.`

### How can it be reproduced?

1. Install the library following instructions.
2. pod install.

### Build details?

macOS Mojave 10.14.6
[code]

[2020-04-18 05:36] samaneh-kamalian commented on #236
It does not work for me!!
my QRCodeScanner is in a view with flex:5.

[2020-04-21 05:17] AzzouDuGhetto commented on #223
Same problem, it happend because mode.js import version.js who import mode.js etc.

A workaround will be to delete 'var Version = require('./version')' in mode.js since version.js is already imported in the first place ? Not sure if this is a suitenable way to do this.

[2020-04-23 13:57] fahadibrahimbutt opened #249 "cameraProps produce issues for Android."
Everything was working fine.
Then i try to restrict scanning for QRCode & PDF417.

I use this line to restrict scanning:
cameraProps= {{barCodeTypes: ["org.iso.QRCode", "org.iso.PDF417"]}}

After this, iOS works fine. But Android stops scanning everything.

[2020-05-01 15:20] ObjectPlayer commented on #37
Hello, I am also facing this issue. Anyone have solution for it ??

[2020-05-02 00:40] Thomas-Negrault commented on #237
Same error with
[code]
My app have the Camera permission, I use it for an image picker. I followed the example and I get the "camera not authorized" message.

[2020-05-04 11:56] #223 closed

[2020-05-04 21:44] renatobenks commented on #203
@moaazsidat why the constants it's no more available in QRCodeScanner? 🤔

[2020-05-04 22:00] #242 closed

[2020-05-05 19:38] renatobenks commented on #203
@moaazsidat along #241 merged can we close this one?

[2020-05-06 02:54] renatobenks commented on #123
@moaazsidat can you take a look at #132? it seems to have in progress working by @gie3d to get it done but I don't know if it's properly done well as expected. what do you think?

[2020-05-06 06:29] shubhamjz opened #251 "hello , I intall the lib. react native Qr scanner and i get an error"
### What's happening?

### How can it be reproduced?

### Build details?

[2020-05-06 17:33] renatobenks commented on #184
@moaazsidat we should close this one because it seems to be fixed along with #185

[2020-05-06 17:37] renatobenks commented on #220
the `reactivateTimeout` prop seems to be working fine in the latest version. so, we can you both describe a little better what is actually happening in the unexpected behaviour that you guys are facing on? and what's the version that you both are using?

[2020-05-06 17:41] renatobenks commented on #147
hey @resting the `containerStyle` prop wouldn't work to you in this case?

[2020-05-07 03:53] renatobenks commented on #251
hey @shubhamjz, can you describe it better telling us what exactly is the error that you're facing, please? I believe that just filling the fields, as suggested in the description of this issue, would be enough to help you as you need (:

by the way, it would be good to have a better title as well, because this issue could be useful for someone else facing the same problem 👌

[2020-05-07 04:10] #184 closed

[2020-05-07 04:12] #147 closed

[2020-05-07 04:29] #59 closed

[2020-05-07 04:33] #27 closed

[2020-05-07 04:52] renatobenks commented on #129
thank you for this disclaimer about this issue @poltak, it really helps!

[2020-05-07 15:34] renatobenks commented on #129
First of all, this is not an issue in `react-native-qrcode-scanner` because it's totally related to the `react-native-permissions` package as the
@poltak told it above and as he shared with us, you can take a look in the following thread to take some help with this problem https://github.com/react-native-community/react-native-permissions/issues/46

By the way, it was a really good disclaimer abou

[2020-05-07 15:34] #129 closed

[2020-05-08 01:39] renatobenks commented on #248
@suraneti there are a couple of things that I wanna share to you to help with this:

- you're not using this package because you're actually using this following one https://www.npmjs.com/package/react-native-qr-scanner as defined at `package.json` as you described it here
- the problems that showed up to you it's not a problem at all, it's actually just a WARNING because this package that you're

[2020-05-08 01:39] #248 closed

[2020-05-08 19:26] renatobenks commented on #251
closing this by inactivity and the missing of information, let me know if you're still having this problem @shubhamjz

[2020-05-08 19:26] #251 closed

[2020-05-14 09:05] niloufarzahiri92 opened #252 "the camera is full screen with a superimposed graphics which is semitransparent around the center hole"
can any body help me, how can I do my code to achieve this type of scanner which I attach the photo here(the camera is full screen with a superimposed graphics which is semitransparent around the center hole ), thanks.

`import React, { Component } from 'react';
import { StyleSheet, Dimensions, TouchableOpacity, Alert, WebView, Image, } from 'react-native';
import PropTypes from 'prop-types';
impo

[2020-05-14 16:52] renatobenks opened #253 "add the missing community guidelines"

[2020-05-14 18:18] renatobenks opened #254 "Add missing react-native-permissions additional instructions step to setup it correctly"
### What's happening?

It's missing on README the steps to setup the build to make it works correctly integrated with the react-native-permissions.

**Auto-linking:**

Even using the auto-linking, which react-native-permission perfectly it works, is required to add some lines of code in the iOS and Android, respectively, to allow the permissions to access the camera, as described in the following

[2020-05-16 21:22] renatobenks commented on #118
closing this one by the long inactivity around this, especially because it's probably related to viewport issues around the react components in react native instead of bad behavior from this, so let me know if you're still having any troubles with that @lfiorini or which workaround did you used to solve that

[2020-05-16 21:22] #118 closed

[2020-05-16 21:27] renatobenks commented on #1
can you describe better @robert589, what are you actually experiencing? I would be happy to help you with this if you're still facing it!

but it's not clear to me yet the unexpected behavior here, as it's an older issue that seems to be fixed (not sure) as on reading correctly a QR code the auto vibration in iOS is working.

[2020-05-18 18:39] nubpro commented on #252
Save yourself some time, don't use this package.
This library is not flexible enough to achieve what you want.

Suggestion:
Use RNCamera which is underlying library used by this library.
To achieve what u want easily, just use this https://www.npmjs.com/package/react-native-barcode-mask.

[2020-05-19 02:05] #123 closed

[2020-05-19 02:50] renatobenks commented on #249
@fahadibrahimbutt could you provide a demo repo reproducing this issue to make it easy to help you?

[2020-05-19 03:25] renatobenks commented on #252
hey, @niloufarzahiri92 sorry reply to you so late than usual, we always try to help everyone here as soon as possible, but sometimes it takes a while.

Anyway, I'm not sure that I've got it your problem be facing here because it's quite confusing what are you actually trying to do with this package. Does it seem that you're actually building a credit card scanner and not a QR code scanner, right?

[2020-05-19 03:35] renatobenks commented on #252
@nubpro, sorry for don't be a good fit for you, how could I help you with what you're facing with react-native-qrcode-scanner? can you provide us a feedback about what you mean with the missing of flexibility in our API and which kind of flexibility do would like to have?

we're here to try to help you with whatever kind of problem, so feel free to ask anything or even contribute to it as well, by

[2020-05-19 04:04] renatobenks commented on #247
hey, @rutvikrockers, what do you mean with multiples QR codes to scan at once? can you provide us an example of how the QR codes should be represented to scanning?

however, just to let you know in advance, there's no way currently, to scan more than just a single QR code because the scanner just looks on the center of the camera to match a QR code. So, regardless, it will be required a new featur

[2020-05-19 04:15] renatobenks commented on #246
hey, @DevAress I'll be glad to help with this, so let me know what's the content besides QR code? because it seems to be parsing problem caused by probably a really huge base64 content which is taking a longer time than usual to parse the code and call the callback with content. Even in this case, don't explains be so longer just in iOS instead of in Android as well, so I'm pretty sure that it nee

[2020-05-19 14:12] Zo2m4bie commented on #249
@fahadibrahimbutt just add one more type
cameraProps={{ barCodeTypes: ['QR_CODE', 'org.iso.QRCode', 'org.iso.PDF417'] }}

[2020-05-19 17:53] renatobenks opened #256 "publishing to NPM automatically via github on releasing bump version"
### What's happening?

Currently, to publish an updated version of this package takes a while because it needs to be done totally manually.

### What could it be done?

To solve that it could be configured to publish automatically to every release made as new pushed tags, using the github actions which give us a setup well done to do that.

### ~~How can it be reproduced?~~

### ~~Build details?~~

[2020-05-19 18:00] renatobenks commented on #201
I'll be closing this one once it was a problem related to the `react-native-permissions` compatibility which it's not happening anymore

[2020-05-19 18:00] #201 closed

[2020-05-19 18:05] renatobenks commented on #201
and just to clarify the comment made above by @f0ntana, the `react-native-camera` don't have any QRcode scanner, it scans just barcodes and nothing more beyond that, which by the way we're working to move it as a scanner on `react-native-camera` and it will be available in the next few months, feel free everyone to task

[2020-05-19 18:10] renatobenks commented on #156
I'm closing this one as it seems to be duplicated by #201

[2020-05-19 18:10] #156 closed

[2020-05-19 18:31] renatobenks commented on #12
I'm closing this once it's not a problem caused by this scanner to qrcode and actually, it's a problem caused by react-native-camera which it sounds to be already fixed as following https://github.com/react-native-community/react-native-camera/issues/701

[2020-05-19 18:31] #12 closed

[2020-05-19 18:40] renatobenks commented on #249
lets us know @fahadibrahimbutt if it worked because as @Zo2m4bie commented it seem that will be work

[2020-05-19 18:52] #249 closed

[2020-05-19 19:17] renatobenks commented on #1
I'll be closing this because it seems to be already fixed for a long time ago and it doesn't sound still to be a problem at all

[2020-05-19 19:17] #1 closed

[2020-05-20 00:40] renatobenks commented on #45
I'll be closing this one as this is not a problem caused by `react-native-qrcode-scanner` but the `react-native-camera` instead, as discussed here https://github.com/moaazsidat/react-native-qrcode-scanner/issues/12

then it sounds to be duplicated by this other issue as well, take a look on there to make it work 👊

[2020-05-20 00:40] #45 closed

[2020-05-20 02:45] renatobenks opened #257 "Add examples using it into navigation router"
### What's happening?

Following this issue https://github.com/moaazsidat/react-native-qrcode-scanner/issues/116

There are no examples of how to integrate it into different kinds of navigating, such as tabs and stacks. It does sound to be impacting directly this uses because as the navigation usually doesn't mount the screen twice in some directions, sometimes it doesn't work as should for his sc

[2020-05-20 03:16] renatobenks commented on #116
I'll be closing this issue as this is not a problem at all but limitation by design between `react-native-camera` and routers navigation libraries, like `react-navigation`

but I agree as well that we should have an example, at least, about how to solve this problem as it was been well-appointed by you guys in the suggestions above, so I've created this following issue to add this example, so hope

[2020-05-20 03:16] #116 closed

[2020-05-21 01:58] renatobenks opened #259 "Update getting started instructions on README to be compatible with auto-linking"
### What's happening?

So far, we have the instructions on getting started at README, instructing to users install the dependencies and link them using `react-native link` instead of to encourage the auto-link "uses" since introduced in react-native [v0.60.0](https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0600) version as described here https://github.com/react-native

[2020-05-21 03:20] wadeyw opened #260 "Android The camera blocked the topContent"
### What's happening?
Like below screenshot in emulator, the camera will cover the top content, I didn't do any styling.

![image](https://user-images.githubusercontent.com/20250120/82519612-a8d04100-9b54-11ea-9618-daae721d164f.png)

 "react-native-camera": "^3.26.0",
 "react-native": "0.62.2",
"react-native-qrcode-scanner": "^1.4.1",

[2020-05-25 11:18] nandantal opened #262 "borderRadius does not work"
borderRadius doesn't work

### What's happening?
I am trying to create one rounded corner camera view but borderRadius doesn't work. Is there any way to do it ?

Platform : iOS

### Code snippet :
containerStyle={{position: 'absolute', height: 200, width: 200, borderRadius: 100}}
cameraStyle={{position: 'absolute', height: 200, width: 200, borderRadius: 100}}

[2020-05-25 11:22] nandantal commented on #262
cameraStyle={{overflow:'hidden', position: 'absolute', height: 200, width: 200, borderRadius: 100}}
works. closing the issue.

[2020-05-25 11:22] #262 closed

[2020-05-25 21:08] ASchwad opened #263 "Best practice: Transform js object to QR code"
Hey there,

I am trying to convert a classic javascript object to a QR Code.

`var car = {type:"Fiat", model:"500", color:"white"}`

My current approach is to take each value and create one long string, which i handover as "byte"

`value={[{ data: 'Fiat#500#white', mode: 'byte' }]}`

Is there a more elegant way? I would like to read the data via another phone and get the object.

Thanks in advance

[2020-05-26 13:01] rajneshbiz opened #264 "Is it possible to read qrcode from an image"
I use react-native-qrcode-scanner to scan QR-code and it works well, But I need to Read QR-code from the captured image.

Is it possible with QRCodeScanner?

[2020-06-01 20:49] #254 closed

[2020-06-01 21:14] renatobenks commented on #263
I'm not sure that I've got you right about what you want to do, but perhaps you're asking for in the wrong place because this package it's only responsible to read generated QR code's and not to generate them, and as your problem looks describe that you're just trying to generate a QR code it doesn't to be related to this package at all. So probably you'll gonna have better support by asking for t

[2020-06-01 21:14] #263 closed

[2020-06-02 00:43] renatobenks opened #265 "Support to read a QR code's through a selected image file"
### What's happening?

Currently, this package doesn't offer support to read QR code's through an image as asked by support at the #264.

Then, in order to support this feature suggest, which it sounds will be pretty useful for a lot of reasons, we have to try to find in advance, either way, a workaround to allow it to be done, to then, finally, enable this package to support this kind of feature.

[2020-06-02 00:43] renatobenks commented on #264
Sorry, unfortunately, this is not supported currently! But it's definitely a pretty good case to build a feature to support that. Then, in order to make it possible in the future as this is a good feature suggest to be built, I've created this another issue #265 to work on it.

I'm not sure if you already did find a workaround to make it work, but in this case, it would be great to have this as an

[2020-06-02 00:43] #264 closed

[2020-06-02 06:40] ASchwad commented on #263
Sorry, I have meant to post this issue in https://github.com/awesomejerry/react-native-qrcode-svg.

[2020-06-03 11:57] hoanghuy226 opened #266 "edcx ."
### What's happening?

### How can it be reproduced?

### Build details?

[2020-06-03 11:57] hoanghuy226 opened #267 "edcx .\]'[;ploikjuhy7gtfrdeswqa\"
### What's happening?

### How can it be reproduced?

### Build details?

[2020-06-05 15:59] renatobenks commented on #263
great @ASchwad, let me know if you've experienced any issues around this package, or even to any other related to that

[2020-06-06 02:10] #267 closed

[2020-06-06 02:10] #266 closed

[2020-06-06 10:35] 100rabhchauhan commented on #54
how about if I want to style not Authorized view in android?

[2020-06-06 10:38] 100rabhchauhan opened #268 "Style notAuthorizedView in android."
I need to style the notAuthorizedView component for android. Any suggestions. I am using react-native-qrcode-scanner 1.4.1

[2020-06-07 21:25] renatobenks commented on #54
what you exactly wanna mean with "not Authorized view"? this is just related to the permissions authorization cases

[2020-06-07 21:33] renatobenks commented on #268
what kind of suggestion of style do you want? I didn't get you on that yet, can you explain it better?

Just to make sure that you're pretty clear about the uses of `notAuthorizatedView` prop. This is directly related to which component will render when the user refuses the permission access, required by the camera

[2020-06-09 08:57] verybluebot opened #270 "Getting a gap on the top of the screen after updating to v1.4.1"
After updating to v1.4.1 could not get full screen height for the camera.

Found out that Im getting a thick gap on the top of the screen and can bring the camera view to the top of the screen but using a negative `marginTop` on `cameraStyle` property (which is a nasty hack)

It turns out the wrapper of `Camera` is hardcoded to have height as screen width..

fixed it manually at this point by chan

[2020-06-09 22:34] imrvelj commented on #225
Happened to me with `react-native` `0.60.4` and managed to fix it by just installing the `react-native-permissions` package ie. `npm i -S react-native-permissions`

[2020-06-11 02:28] renatobenks commented on #225
I'll be closing this issue once this problem seems to be already solved because it's regarding to `react-native-permissions` integrating and not to the `react-native-qrcode-scanner` itself

[2020-06-11 02:28] #225 closed

[2020-06-12 09:30] avjabalpur commented on #270
Hi Can we merge this PR

[2020-06-12 15:58] renatobenks commented on #270
yeah, you're alright! As this issue is still opened because the #269 was not merged yet, the latest version will not gonna have this fix but thank you for letting me know, I'll try to move faster with that merging.

[2020-06-13 08:51] metinozkan commented on #16
`
  const screenHeight = Math.round(Dimensions.get('window').height);
<QRCodeScanner
  topViewStyle={{height: 0, flex: 0}}
  cameraStyle={{
              height: screenHeight,
            }}
`

[2020-06-15 13:10] Minhoko commented on #260
Any update on this?

[2020-06-15 13:12] Minhoko commented on #260
@wadeyw Did you find a solution on this?

[2020-06-16 04:05] wadeyw commented on #260
yea, thanks, was solved the same way
cameraProps={{ratio: '1:1', overflow: 'hidden'}}

[2020-06-16 04:05] #260 closed

[2020-06-18 12:56] Nirodha26 opened #271 "iPhone X - Exception thrown while executing UI block"
QRCodeScanner throws an error on iPhone X device. Works fine in other devices.

### What's happening?
Unable to render QRCodeScanner. It throws following exception.

![image](https://user-images.githubusercontent.com/11444050/85021086-f6a98a80-b18e-11ea-9f78-3226a58e8dd1.png)

### How can it be reproduced?
This can be reproduced with the example given in the library documentation.

` <QRCodeScanne

[2020-06-18 16:51] Nirodha26 commented on #271
Upgrading react-native-camera to 3.30.0 and pod install solved the issue.

[2020-06-18 16:51] #271 closed

[2020-06-18 22:12] tycooperaow commented on #213
How would this work if I build my project with expo?

[2020-06-18 23:39] java-james commented on #213
@tycooperaow How about using an expo lib eg BarCodeScanner in your case?

@olethanh See readme has been updated - Does this resolve the issue here? Can't check no longer consuming the lib

[2020-06-19 04:08] limkimsan opened #272 "customMarker"
### What's happening?

### How can it be reproduced?

### Build details?

[2020-06-19 04:09] #272 closed

[2020-06-19 08:21] avjabalpur opened #273 "Can we use both camera for scaning"
### Camara Switching
cameraType
propType: oneOf(['front', 'back']) default: 'back'

Please let me know,  how we can give the option to switch the camera at run time?

[2020-06-19 09:25] olethanh commented on #213
Sorry I'm not working on the app that was using this project anymore so I can't check

[2020-06-19 11:35] avjabalpur commented on #273
I got this working with some custom code, I have added one icon in my screen and created click event
here is a code example
` const [camaraType, setCamaraType] = useState('');`

`useEffect(() => {
            setCamaraType('front')
 }, []);`

Camara type change event
[code]

[2020-06-19 11:35] #273 closed

[2020-06-19 11:45] avjabalpur commented on #128
+1

[2020-06-26 08:37] kowalski opened #274 ""Invariant Violation: Module RCTDeviceEventEmitter is not a registered callable module (calling emit)" most likely because of race condition"
The application crashes at start with and UI displays error "HMRClient is not a registered callable module". In `adb logcat` I can see that the error comes from call `RCTDeviceEventEmitter.emit`.

Interestingly, having spent a lot of time troubleshoting this, I found out that issue can easily be worked around.

The error happens when I do at the module level:
[code]

But goes away when I import it